.secondLinks {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3.95833vw;
}

.secondLinks .lineContainer {
  position: relative;
  margin-bottom: 1.04167vw;
}

.secondLinks .lineContainer .line-custom {
  background-color: #707070;
  width: 1.97917vw;
}

.secondLinks .active-line {
  width: 5.46875vw;
  margin-bottom: 1.04167vw;
}

.secondLinks .active-line .line-custom {
  background-color: #d67a0f;
  width: 3.95833vw;
  margin-right: 1.04167vw;
}

.secondLinks .active-line .section-number {
  float: right;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9375vw;
}
/*# sourceMappingURL=.css.map */