$desk: 100 / 1920;
$mob: 100 / 375;
$transition-duration: 1s;

.backgroundContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: $transition-duration;
  @media only screen and (max-width: 800px) {
    width: 100%;
    height: 100%;
  }
  .privacyPolicyText {
    position: absolute;
    color: #fff;
    font-family: Montserrat-Light;
    bottom: 20 * $desk + vw;
    left: 75 * $desk + vw;
    cursor: pointer;
    font-size: 20 * $desk + vw;
    @media only screen and (max-width: 800px) {
      bottom: 20 * $mob + vw;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 14 * $mob + vw;
    }
  }
  .leftPanel {
    width: 736 * $desk + vw;
    height: 100%;
    background-color: #464646;
    float: left;
    transition: $transition-duration;
    @media only screen and (max-width: 800px) {
      display: block;
      width: 100%;
      height: 243 * $mob + vw;
      position: absolute;
      left: 0;
      top: 424.5 * $mob + vw;
    }
  }
  .rightPanel {
    width: 1184 * $desk + vw;
    height: 100%;
    background-color: #3c3c3c;
    float: left;
    transition: $transition-duration;
    @media only screen and (max-width: 800px) {
      width: 100%;
      height: 424.5 * $mob + vw;
      position: absolute;
      top: 0;
    }
    .img {
      transition: $transition-duration;
      opacity: 0;
      @media only screen and (max-width: 800px) {
        width: 100%;
        height: 424.5 * $mob + vw;
        object-fit: cover;
      }
    }
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }
  .upperLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: $transition-duration;
    @media only screen and (max-width: 800px) {
      width: 100%;
      height: 100%;
    }
    .logo {
      width: 224 * $desk + vw;
      height: 83 * $desk + vw;
      position: absolute;
      top: 61 * $desk + vw;
      left: 72 * $desk + vw;
      transition: $transition-duration;
      @media only screen and (max-width: 800px) {
        top: 17 * $mob + vw;
        left: 13 * $mob + vw;
        width: 113 * $mob + vw;
        height: 42 * $mob + vw;
      }
    }

    .quote-line {
      position: absolute;
      top: 116 * $desk + vw;
      left: 677 * $desk + vw;
      height: 1 * $desk + vw;
      transition: $transition-duration;
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    .quote-1 {
      position: absolute;
      font-size: 20 * $desk + vw;
      color: #fff;
      top: 101 * $desk + vw;
      left: 462 * $desk + vw;
      font-family: Montserrat-Light;
      transition: $transition-duration;
      opacity: 0;
      //Missing Font Styling
      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
    .quote2-container {
      position: absolute;
      bottom: 9.88542vw;
      right: -5.5vw;
      transform: rotateZ(90deg);
      width: 350 * $desk + vw;
      transition: $transition-duration;
      @media only screen and (max-width: 800px) {
        left: 0;
        bottom: 0;
        top: 621 * $mob + vw;
        transform: rotateZ(0);
        width: 270 * $mob + vw;
      }
      .quote2-line {
        background-color: #707070;
        margin-right: 12 * $desk + vw;
        float: left;
        transition: $transition-duration;
        transform: translateY(10 * $desk + vw);
        @media only screen and (max-width: 800px) {
          width: 80 * $mob + vw;
          height: 1.5 * $mob + vw;
          transform: translateY(10 * $mob + vw);
        }
      }
      .quote-2 {
        font-size: 18 * $desk + vw;
        color: #707070;
        float: left;
        font-family: Raleway-Light;
        transition: $transition-duration;
        opacity: 0;
        //Missing Font Styling-done
        @media only screen and (max-width: 800px) {
          font-size: 15 * $mob + vw;
          // float: right;
          margin-left: 5.7 * $mob + vw;
          white-space: nowrap;
        }
      }
    }
    .sectionNumber {
      font-size: 341 * $desk + vw;
      opacity: 0;
      color: #525252;
      position: absolute;
      right: 289 * $desk + vw;
      top: -1.5vw;
      font-family: Montserrat-Bold;
      transition: $transition-duration;
      //Missing Font Styling
      @media only screen and (max-width: 800px) {
        right: 13 * $mob + vw;
        top: 11 * $mob + vw;
        font-size: 97 * $mob + vw;
        // width: 103 * $mob + vw;
        // height: 118 * $mob + vw;
      }
    }
    .footer-custom {
      position: absolute;
      left: 78 * $desk + vw;
      bottom: 150 * $desk + vw;
      opacity: 0.75;
      @media only screen and (max-width: 800px) {
        left: 8 * $mob + vw;
        bottom: 8 * $mob + vw;
      }
    }
    .downArrow {
      width: 53 * $desk + vw;
      height: 28 * $desk + vw;
      position: absolute;
      bottom: 50 * $desk + vw;
      left: 50%;
      transform: translateX(-50%);
      transition: $transition-duration;
      cursor: pointer;
      @media only screen and (max-width: 800px) {
        width: 50 * $mob + vw;
        height: 30 * $mob + vw;
        bottom: -60 * $mob + vw;
        // bottom: -5vw;
      }
    }
  }
}
