.backgroundContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer {
    width: 100%;
    height: 100%;
  }
}

.backgroundContainer .privacyPolicyText {
  position: absolute;
  color: #fff;
  font-family: Montserrat-Light;
  bottom: 1.04167vw;
  left: 3.90625vw;
  cursor: pointer;
  font-size: 1.04167vw;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .privacyPolicyText {
    bottom: 5.33333vw;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3.73333vw;
  }
}

.backgroundContainer .leftPanel {
  width: 38.33333vw;
  height: 100%;
  background-color: #464646;
  float: left;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .leftPanel {
    display: block;
    width: 100%;
    height: 64.8vw;
    position: absolute;
    left: 0;
    top: 113.2vw;
  }
}

.backgroundContainer .rightPanel {
  width: 61.66667vw;
  height: 100%;
  background-color: #3c3c3c;
  float: left;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .rightPanel {
    width: 100%;
    height: 113.2vw;
    position: absolute;
    top: 0;
  }
}

.backgroundContainer .rightPanel .img {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .rightPanel .img {
    width: 100%;
    height: 113.2vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .rightPanel {
    width: 100%;
  }
}

.backgroundContainer .upperLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer {
    width: 100%;
    height: 100%;
  }
}

.backgroundContainer .upperLayer .logo {
  width: 11.66667vw;
  height: 4.32292vw;
  position: absolute;
  top: 3.17708vw;
  left: 3.75vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .logo {
    top: 4.53333vw;
    left: 3.46667vw;
    width: 30.13333vw;
    height: 11.2vw;
  }
}

.backgroundContainer .upperLayer .quote-line {
  position: absolute;
  top: 6.04167vw;
  left: 35.26042vw;
  height: 0.05208vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .quote-line {
    display: none;
  }
}

.backgroundContainer .upperLayer .quote-1 {
  position: absolute;
  font-size: 1.04167vw;
  color: #fff;
  top: 5.26042vw;
  left: 24.0625vw;
  font-family: Montserrat-Light;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .quote-1 {
    display: none;
  }
}

.backgroundContainer .upperLayer .quote2-container {
  position: absolute;
  bottom: 9.88542vw;
  right: -5.5vw;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  width: 18.22917vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .quote2-container {
    left: 0;
    bottom: 0;
    top: 165.6vw;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    width: 72vw;
  }
}

.backgroundContainer .upperLayer .quote2-container .quote2-line {
  background-color: #707070;
  margin-right: 0.625vw;
  float: left;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(0.52083vw);
          transform: translateY(0.52083vw);
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .quote2-container .quote2-line {
    width: 21.33333vw;
    height: 0.4vw;
    -webkit-transform: translateY(2.66667vw);
            transform: translateY(2.66667vw);
  }
}

.backgroundContainer .upperLayer .quote2-container .quote-2 {
  font-size: 0.9375vw;
  color: #707070;
  float: left;
  font-family: Raleway-Light;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .quote2-container .quote-2 {
    font-size: 4vw;
    margin-left: 1.52vw;
    white-space: nowrap;
  }
}

.backgroundContainer .upperLayer .sectionNumber {
  font-size: 17.76042vw;
  opacity: 0;
  color: #525252;
  position: absolute;
  right: 15.05208vw;
  top: -1.5vw;
  font-family: Montserrat-Bold;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .sectionNumber {
    right: 3.46667vw;
    top: 2.93333vw;
    font-size: 25.86667vw;
  }
}

.backgroundContainer .upperLayer .footer-custom {
  position: absolute;
  left: 4.0625vw;
  bottom: 7.8125vw;
  opacity: 0.75;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .footer-custom {
    left: 2.13333vw;
    bottom: 2.13333vw;
  }
}

.backgroundContainer .upperLayer .downArrow {
  width: 2.76042vw;
  height: 1.45833vw;
  position: absolute;
  bottom: 2.60417vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .backgroundContainer .upperLayer .downArrow {
    width: 13.33333vw;
    height: 8vw;
    bottom: -16vw;
  }
}
/*# sourceMappingURL=background.css.map */