.browsedata-container {
  position: relative;
  left: -3vw;
  top: 1vw;
  width: 20.15625vw;
  height: auto;
  float: left;
  padding-bottom: 1.5vw;
  padding-top: 1vw;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 0.72917vw;
  -webkit-box-shadow: 0.20833vw 0.20833vw 0.20833vw 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0.20833vw 0.20833vw 0.20833vw 0 rgba(0, 0, 0, 0.16);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212020), color-stop(59%, #403f3f), to(#575757));
  background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
}

.browsedata-container .data-text {
  position: relative;
  font-family: Raleway;
  color: white;
  font-weight: lighter;
  float: left;
  width: 100%;
  margin-left: 1.77083vw;
  margin-top: 0.625vw;
  font-size: 1.04167vw;
  cursor: pointer;
}

.browsedata-container .orange {
  color: #d67a0f;
}

.browsedata-container::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.browsedata-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.browsedata-container::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
/*# sourceMappingURL=browsedata.css.map */