$desk: 100 / 1920;
.browsedata-container {
  position: relative;
  left: -3vw;
  top: 1vw;
  width: 387 * $desk + vw;
  height: auto;
  float: left;
  // height: auto;
  padding-bottom: 1.5vw;
  padding-top: 1vw;

  overflow: auto;
  overflow-x: hidden;
  border-radius: 14 * $desk + vw;
  box-shadow: 4 * $desk + vw 4 * $desk + vw 4 * $desk + vw 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
  .data-text {
    position: relative;
    font-family: Raleway;
    color: white;
    font-weight: lighter;
    float: left;
    width: 100%;
    margin-left: 34 * $desk + vw;
    margin-top: 12 * $desk + vw;
    font-size: 20 * $desk + vw;
    cursor: pointer;
  }
  .orange {
    color: #d67a0f;
  }
}

.browsedata-container::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.browsedata-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.browsedata-container::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
