.browse-container {
  position: absolute;
  width: 23.4375vw;
  right: 0;
  top: 2.60417vw;
  display: block;
}

@media only screen and (max-width: 800px) {
  .browse-container {
    display: none;
  }
}

.browse-container .browse-text {
  font-size: 1.875vw;
  font-weight: lighter;
  margin-left: 3.90625vw;
}
/*# sourceMappingURL=browse.css.map */