$desk: 100 / 1920;
.browse-container {
  position: absolute;
  width: 450 * $desk + vw;
  right: 0;
  top: 50 * $desk + vw;
  display: block;
  @media only screen and (max-width: 800px) {
    display: none;
  }
  .browse-text {
    font-size: 36 * $desk + vw;
    font-weight: lighter;
    margin-left: 75 * $desk + vw;
  }
}
