$desk: 100 / 1920;
$mob: 100 / 375;
.button {
  border-bottom: 1px solid #fff;
  .buttonText {
    color: #fff;
    font-size: 23 * $desk + vw;
    font-family: Raleway-Light;
    margin-bottom: 7 * $desk + vw;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
      font-size: 13 * $mob + vw;
      margin-bottom: 6 * $mob + vw;
      white-space: nowrap;
    }
  }
}
