.button {
  border-bottom: 1px solid #fff;
}

.button .buttonText {
  color: #fff;
  font-size: 1.19792vw;
  font-family: Raleway-Light;
  margin-bottom: 0.36458vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .button .buttonText {
    font-size: 3.46667vw;
    margin-bottom: 1.6vw;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=button.css.map */