@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: helvetica-light;
  src: url("../fonts/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url("../fonts/HelveticaNeue-Thin.otf");
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body,
div#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #464646;
}

.img {
  width: 100%;
  height: 100%;
}

.line {
  width: 0vw;
  height: 0.10417vw;
  background-color: #fff;
}

.shadow {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}

.panelContainer {
  position: absolute;
  top: 15.20833vw;
  left: 32.03125vw;
  width: 52.08333vw;
  height: 24.89583vw;
}

@media only screen and (max-width: 800px) {
  .panelContainer {
    top: 91.73333vw;
    left: 3.46667vw;
  }
}

.grey {
  color: #b3b0b0;
}

.orange {
  color: #d67a0f;
}

button {
  position: fixed;
  top: 0px;
  left: 0px;
}
/*# sourceMappingURL=common.css.map */