$desk: 100 / 1920;
$mob: 100 / 375;
@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: helvetica-light;
  src: url("../fonts/helvetica-light-587ebe5a59211.ttf");
}
@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: HelveticaNeue-Thin;
  src: url("../fonts/HelveticaNeue-Thin.otf");
}
@font-face {
  font-family: Raleway-ExtraLight;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}
* {
  margin: 0px;
  padding: 0px;
}
html,
body,
div#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #464646;
}
.img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}
.line {
  width: 0 * $desk + vw;
  height: 2 * $desk + vw;
  background-color: #fff;
}
.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}
.panelContainer {
  position: absolute;
  top: 292 * $desk + vw;
  left: 615 * $desk + vw;
  width: 1000 * $desk + vw;
  height: 478 * $desk + vw;
  @media only screen and (max-width: 800px) {
    top: 344 * $mob + vw;
    left: 13 * $mob + vw;
  }
}
.grey {
  color: #b3b0b0;
}
.orange {
  color: #d67a0f;
}
button {
  position: fixed;
  top: 0px;
  left: 0px;
}
// .activediv {
//   background: #464646;
//   z-index: 9999;
// }
