.contact01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .contact01-container {
    height: 92.5vh;
  }
}

.contact01-container .phone-adjust {
  float: left;
  width: 45%;
}

@media only screen and (max-width: 800px) {
  .contact01-container .phone-adjust {
    float: none;
    width: 100%;
  }
}

.contact01-container .city-adjust {
  width: 48.5%;
  margin-left: 2.34375vw;
  float: left;
}

@media only screen and (max-width: 800px) {
  .contact01-container .city-adjust {
    float: none;
    margin-left: unset;
    width: 100%;
  }
}

.contact01-container .inputBoxContainer {
  position: absolute;
  top: 20.3125vh;
  left: 32.03125vw;
  width: 36.61458vw;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer {
    top: 21.33333vw;
    left: 2.4vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer .inputBox {
    position: relative;
    top: 5.6vw;
    left: 26.66667vw;
    margin-bottom: 10.4vw;
    margin-top: 4.8vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer .inputBox .field {
    position: absolute;
    width: 42.66667vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer .inputBox input {
    font-size: 4.26667vw;
    margin-top: 0vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer .inputBox label {
    text-align: center;
    font-size: 4.26667vw;
    margin-bottom: 0vw;
    width: 100%;
    margin-left: 3.2vw;
  }
}

.contact01-container .inputBoxContainer .customButton {
  position: absolute;
  right: 1.35417vw;
  bottom: -2.60417vw;
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer .customButton {
    bottom: -13.33333vw;
    right: -14.66667vw;
  }
}

.contact01-container .inputBoxContainer select {
  position: relative;
  width: 100%;
  height: 3.90625vw;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  float: left;
  margin-bottom: 1.15417vw;
  left: unset;
  border: none;
  color: #fff;
  border-bottom: 1px solid #7b7b7b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: url(https://res.cloudinary.com/dubm0zyx2/image/upload/v1565846656/Devomark/dropdown_rrg7xb.png) 96%/4% no-repeat;
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer select {
    width: 42.66667vw;
    height: 12.8vw;
    float: none;
    font-size: 4vw;
    margin-left: 0vw;
    border: none;
    left: 26.66667vw;
  }
}

.contact01-container .inputBoxContainer select option {
  width: 16.14583vw;
  height: 5.20833vw;
  font-family: Raleway-Light;
  font-size: 0.9375vw;
  color: black;
}

@media only screen and (max-width: 800px) {
  .contact01-container .inputBoxContainer select option {
    font-size: 4vw;
    margin-left: 0vw;
    border: none;
  }
}

.Messages {
  display: block;
  float: left;
  padding-left: 0.3125vw;
}

@media only screen and (max-width: 800px) {
  .Messages {
    display: none;
  }
}

.message-area {
  display: none;
}

@media only screen and (max-width: 800px) {
  .message-area {
    display: block;
    background-color: #414141;
    font-family: Raleway;
    width: 76vw;
    height: 36.53333vw;
    color: white;
    border: none;
    line-height: 1.19;
    font-size: 4.26667vw;
    margin-left: 10.13333vw;
    margin-top: 4vw;
  }
}

::-webkit-input-placeholder {
  padding-top: 2.13333vw;
  padding-left: 2.66667vw;
}

:-ms-input-placeholder {
  padding-top: 2.13333vw;
  padding-left: 2.66667vw;
}

::-ms-input-placeholder {
  padding-top: 2.13333vw;
  padding-left: 2.66667vw;
}

::placeholder {
  padding-top: 2.13333vw;
  padding-left: 2.66667vw;
}
/*# sourceMappingURL=contact.css.map */