$desk: 100 / 1920;
$mob: 100 / 375;
.contact01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .phone-adjust {
    float: left;
    // z-index: 999;
    width: 45%;
    @media only screen and (max-width: 800px) {
      float: none;
      width: 100%;
    }
  }
  .city-adjust {
    width: 48.5%;
    margin-left: 45 * $desk + vw;
    // z-index: 999;
    float: left;
    @media only screen and (max-width: 800px) {
      float: none;
      margin-left: unset;
      width: 100%;
    }
  }
  .inputBoxContainer {
    position: absolute;
    top: 390 * $desk + vh;
    left: 615 * $desk + vw;
    width: 703 * $desk + vw;
    height: auto;
    @media only screen and (max-width: 800px) {
      top: 80 * $mob + vw;
      left: 9 * $mob + vw;
    }
    .inputBox {
      @media only screen and (max-width: 800px) {
        position: relative;
        top: 21 * $mob + vw;
        left: 100 * $mob + vw;
        margin-bottom: 39 * $mob + vw;
        margin-top: 18 * $mob + vw;
      }
      .field {
        @media only screen and (max-width: 800px) {
          position: absolute;
          width: 160 * $mob + vw;
        }
      }
      input {
        @media only screen and (max-width: 800px) {
          font-size: 16 * $mob + vw;
          margin-top: 0 * $mob + vw;
        }
      }
      label {
        @media only screen and (max-width: 800px) {
          text-align: center;
          font-size: 16 * $mob + vw;
          margin-bottom: 0 * $mob + vw;
          width: 100%;
          margin-left: 12 * $mob + vw;
        }
      }
    }
    .customButton {
      position: absolute;
      right: 26 * $desk + vw;
      bottom: -50 * $desk + vw;
      @media only screen and (max-width: 800px) {
        bottom: -50 * $mob + vw;
        right: -55 * $mob + vw;
      }
    }
    select {
      position: relative;
      width: 100%;
      height: 75 * $desk + vw;
      font-family: Raleway-Light;
      // margin-left: 103 * $desk + vw;
      // border: 1px solid #7b7b7b;
      font-size: 20 * $desk + vw;
      float: left;
      margin-bottom: 1.15417vw;
      left: unset;
      // background: none;
      border: none;
      color: #fff;
      border-bottom: 1px solid #7b7b7b;
      appearance: none;
      outline: none;
      background: url(https://res.cloudinary.com/dubm0zyx2/image/upload/v1565846656/Devomark/dropdown_rrg7xb.png) 96%/4%
        no-repeat;
      @media only screen and (max-width: 800px) {
        width: 160 * $mob + vw;
        height: 48 * $mob + vw;
        float: none;
        font-size: 15 * $mob + vw;
        margin-left: 0vw;
        border: none;
        left: 26.66667vw;
      }
      option {
        width: 310 * $desk + vw;
        height: 100 * $desk + vw;
        font-family: Raleway-Light;
        font-size: 18 * $desk + vw;
        color: black;
        @media only screen and (max-width: 800px) {
          font-size: 15 * $mob + vw;
          margin-left: 0vw;
          border: none;
        }
      }
    }
  }
}

.Messages {
  display: block;
  // z-index: 10;
  float: left;
  padding-left: 6 * $desk + vw;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
.message-area {
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
    background-color: #414141;
    font-family: Raleway;
    width: 285 * $mob + vw;
    height: 137 * $mob + vw;
    color: white;
    border: none;
    line-height: 1.19;
    font-size: 16 * $mob + vw;
    margin-left: 38 * $mob + vw;
    margin-top: 15 * $mob + vw;
  }
}
::placeholder {
  padding-top: 8 * $mob + vw;
  padding-left: 10 * $mob + vw;
}
