$desk: 100 / 1920;
$mob: 100 / 375;
.data-container {
  position: relative;
  left: 521 * $desk + vw;
  top: 303 * $desk + vw;
  width: 1300 * $desk + vw;
  height: auto;
  //   background-color: red;
  .title-text {
    font-size: 90 * $desk + vw;
    font-weight: lighter;
    position: relative;
    margin-left: 0 * $desk + vw;
    left: -8 * $desk + vw;
    margin-top: unset;
    white-space: unset;
    width: 60%;
    @media only screen and (max-width: 800px) {
      font-size: 35 * $mob + vw;
      left: unset;
      line-height: 1.17;
      margin-left: 11 * $mob + vw;
      margin-top: 90 * $mob + vw;
      width: unset;
    }
  }
  .para-text {
    position: relative;
    font-size: 23 * $desk + vw;
    margin-top: 17 * $desk + vw;
    width: 527 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 307 * $mob + vw;
      height: 226 * $mob + vw;
      font-size: 13 * $mob + vw;
      line-height: 1.15;
      margin-top: 21 * $mob + vw;
      left: -65 * $mob + vw;
      font-family: Raleway-Light;
    }
  }
}
