.data-container {
  position: relative;
  left: 27.13542vw;
  top: 15.78125vw;
  width: 67.70833vw;
  height: auto;
}

.data-container .title-text {
  font-size: 4.6875vw;
  font-weight: lighter;
  position: relative;
  margin-left: 0vw;
  left: -0.41667vw;
  margin-top: unset;
  white-space: unset;
  width: 60%;
}

@media only screen and (max-width: 800px) {
  .data-container .title-text {
    font-size: 9.33333vw;
    left: unset;
    line-height: 1.17;
    margin-left: 2.93333vw;
    margin-top: 24vw;
    width: unset;
  }
}

.data-container .para-text {
  position: relative;
  font-size: 1.19792vw;
  margin-top: 0.88542vw;
  width: 27.44792vw;
}

@media only screen and (max-width: 800px) {
  .data-container .para-text {
    width: 81.86667vw;
    height: 60.26667vw;
    font-size: 3.46667vw;
    line-height: 1.15;
    margin-top: 5.6vw;
    left: -17.33333vw;
    font-family: Raleway-Light;
  }
}
/*# sourceMappingURL=datacontainer.css.map */