.dragContainer {
  position: relative;
  margin-top: 2.5vw;
  width: 200%;
}

.panelContainer .customP {
  width: 24.58333vw;
}

@media only screen and (max-width: 800px) {
  .panelContainer .grey {
    position: absolute;
    top: 109.33333vw;
    left: 53.33333vw;
  }
}
/*# sourceMappingURL=dragContainer.css.map */