$desk: 100 / 1920;
$mob: 100 / 375;
.dragContainer {
  position: relative;
  margin-top: 48 * $desk + vw;
  width: 200%;
}

.panelContainer {
  .customP {
    width: 472 * $desk + vw;
  }
  .grey {
    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 410 * $mob + vw;
      left: 200 * $mob + vw;
    }
  }
}
