$desk: 100 / 1920;
$mob: 100 / 375;
//  top: 68 * * $desk + vw;
.home02 {
  position: relative;
  float: left;
  margin-right: 75 * $desk + vw;
  .icons {
    width: 264 * $desk + vw;
    height: 272 * $desk + vw;
  }
  .text {
    color: #fff;
    text-align: center;
    margin-top: 10 * $desk + vw;
    width: 264 * $desk + vw;
    font-size: 25 * $desk + vw;
    font-family: Raleway-ExtraLight;
    //font styling missing
  }
}
.home03 {
  position: relative;
  float: left;
  width: 464 * $desk + vw;
  height: 227 * $desk + vw;
  background-color: #4a4848;
  //margin-right: 100 * $desk + vw;
  display: table;
  @media only screen and (max-width: 800px) {
    width: 226.1 * $mob + vw;
    height: 110.8 * $mob + vw;
    margin-right: 41 * $mob + vw;
    margin-bottom: 43.2 * $mob + vw;
  }
  .icons {
    width: 114 * $desk + vw;
    height: 114 * $desk + vw;
    display: inline-block;
    margin-top: 65 * $desk + vw;
    margin-left: 45 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 58.8 * $mob + vw;
      height: 58.8 * $mob + vw;
      margin-top: 25.2 * $mob + vw;
      margin-left: 26.8 * $mob + vw;
    }
  }
  .text {
    color: #fff;
    margin-top: 10 * $desk + vw;
    font-size: 23 * $desk + vw;
    font-family: Raleway-Light;
    vertical-align: middle;
    display: table-cell;
    width: 55%;
    //font styling missing
    @media only screen and (max-width: 800px) {
      font-size: 13 * $mob + vw;
    }
  }
  .srNo {
    position: absolute;
    left: 13 * $desk + vw;
    top: 6 * $desk + vw;
    font-size: 23 * $desk + vw;
    font-family: Raleway-Light;
    color: #fff;
    @media only screen and (max-width: 800px) {
      left: 6.5 * $mob + vw;
      top: 3 * $mob + vw;
      font-size: 13 * $mob + vw;
    }
  }
  .bottom-line {
    @media only screen and (max-width: 800px) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 136.4 * $mob + vw;
      height: 1 * $mob + vw;
      background-color: white;
    }
  }
}
.home04 {
  position: relative;
  float: left;
  width: 334 * $desk + vw;
  height: 190 * $desk + vw;
  background-color: #4a4848;
  margin-right: 100 * $desk + vw;
  @media only screen and (max-width: 800px) {
    width: 185.9 * $mob + vw;
    height: 105.8 * $mob + vw;
    margin-right: 22 * $mob + vw;
    margin-top: 20 * $mob + vw;
  }
  .icons {
    position: relative;
    width: 292 * $desk + vw;
    height: 112 * $desk + vw;
    margin-left: 50%;
    margin-top: 40 * $desk + vw;
    transform: translateX(-50%);
    //background-color: red;
    @media only screen and (max-width: 800px) {
      width: 162.5 * $mob + vw;
      height: 62.2 * $mob + vw;
      margin-left: 11.7 * $mob + vw;
      margin-top: 21.7 * $mob + vw;
      transform: translateZ(0);
    }
    .customImg {
      object-fit: contain;
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
    }
    // margin-top: 50%;
    // transform: translateY(-50%);
  }
}
.resource01 {
  position: relative;
  float: left;
  margin-right: 28 * $desk + vw;
  .icons {
    width: 240 * $desk + vw;
    height: 254 * $desk + vw;
  }
  .name {
    color: #fff;
    text-align: center;
    font-family: Raleway-Light;
    margin-top: 10 * $desk + vw;
    width: 240 * $desk + vw;
    font-size: 23 * $desk + vw;

    //font styling missing
  }
  .position {
    color: #8e8e8e;
    text-align: center;
    font-family: Raleway-Light;
    margin-top: 5 * $desk + vw;
    font-size: 17 * $desk + vw;
  }
}
.animation {
  animation-duration: 2.5s !important;
}
