.home02 {
  position: relative;
  float: left;
  margin-right: 3.90625vw;
}

.home02 .icons {
  width: 13.75vw;
  height: 14.16667vw;
}

.home02 .text {
  color: #fff;
  text-align: center;
  margin-top: 0.52083vw;
  width: 13.75vw;
  font-size: 1.30208vw;
  font-family: Raleway-ExtraLight;
}

.home03 {
  position: relative;
  float: left;
  width: 24.16667vw;
  height: 11.82292vw;
  background-color: #4a4848;
  display: table;
}

@media only screen and (max-width: 800px) {
  .home03 {
    width: 60.29333vw;
    height: 29.54667vw;
    margin-right: 10.93333vw;
    margin-bottom: 11.52vw;
  }
}

.home03 .icons {
  width: 5.9375vw;
  height: 5.9375vw;
  display: inline-block;
  margin-top: 3.38542vw;
  margin-left: 2.34375vw;
}

@media only screen and (max-width: 800px) {
  .home03 .icons {
    width: 15.68vw;
    height: 15.68vw;
    margin-top: 6.72vw;
    margin-left: 7.14667vw;
  }
}

.home03 .text {
  color: #fff;
  margin-top: 0.52083vw;
  font-size: 1.19792vw;
  font-family: Raleway-Light;
  vertical-align: middle;
  display: table-cell;
  width: 55%;
}

@media only screen and (max-width: 800px) {
  .home03 .text {
    font-size: 3.46667vw;
  }
}

.home03 .srNo {
  position: absolute;
  left: 0.67708vw;
  top: 0.3125vw;
  font-size: 1.19792vw;
  font-family: Raleway-Light;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .home03 .srNo {
    left: 1.73333vw;
    top: 0.8vw;
    font-size: 3.46667vw;
  }
}

@media only screen and (max-width: 800px) {
  .home03 .bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36.37333vw;
    height: 0.26667vw;
    background-color: white;
  }
}

.home04 {
  position: relative;
  float: left;
  width: 17.39583vw;
  height: 9.89583vw;
  background-color: #4a4848;
  margin-right: 5.20833vw;
}

@media only screen and (max-width: 800px) {
  .home04 {
    width: 49.57333vw;
    height: 28.21333vw;
    margin-right: 5.86667vw;
    margin-top: 5.33333vw;
  }
}

.home04 .icons {
  position: relative;
  width: 15.20833vw;
  height: 5.83333vw;
  margin-left: 50%;
  margin-top: 2.08333vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  .home04 .icons {
    width: 43.33333vw;
    height: 16.58667vw;
    margin-left: 3.12vw;
    margin-top: 5.78667vw;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.home04 .icons .customImg {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.resource01 {
  position: relative;
  float: left;
  margin-right: 1.45833vw;
}

.resource01 .icons {
  width: 12.5vw;
  height: 13.22917vw;
}

.resource01 .name {
  color: #fff;
  text-align: center;
  font-family: Raleway-Light;
  margin-top: 0.52083vw;
  width: 12.5vw;
  font-size: 1.19792vw;
}

.resource01 .position {
  color: #8e8e8e;
  text-align: center;
  font-family: Raleway-Light;
  margin-top: 0.26042vw;
  font-size: 0.88542vw;
}

.animation {
  -webkit-animation-duration: 2.5s !important;
          animation-duration: 2.5s !important;
}
/*# sourceMappingURL=dragComponents.css.map */