$desk: 100 / 1920;
$mob: 100 / 375;
// width: 736 * $desk + vw;
@font-face {
  font-family: helvetica-light;
  src: url("../fonts/HelveticaNeue-Thin.otf");
}
.footer-container {
  width: 300 * $desk + vw;
  @media only screen and (max-width: 800px) {
    display: none;
    width: 100vw;
  }
  .info {
    font-size: 22 * $desk + vw;
    margin-bottom: 18 * $desk + vw;
    font-family: helvetica-light;
    font-weight: lighter;
    color: #fff;
    // display: inline-block;
    //Missing Font Styling-done
    @media only screen and (max-width: 800px) {
      position: absolute;
      // margin-left: 8 * $mob + vw;
      font-size: 12 * $mob + vw;

      // bottom: 8 * $mob + vw;
    }
    span {
      color: #d67a0f;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .info-adjust {
    // display: inline-block;
    @media only screen and (max-width: 800px) {
      left: 117 * $mob + vw;
    }
  }
  .line-footer {
    margin-bottom: 40 * $desk + vw;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
  .social-container {
    display: inline-block;
    @media only screen and (max-width: 800px) {
      float: right;
      display: table;
    }
    .social-logo {
      // float: left;
      width: 23 * $desk + vw;
      height: 23 * $desk + vw;
      margin-right: 40 * $desk + vw;
      display: inline-block;
      // filter: sepia(1);
      @media only screen and (max-width: 800px) {
        margin-right: 30 * $mob + vw;
        width: 15 * $mob + vw;
        height: 15 * $mob + vw;
      }
      .img {
        color: white;
        font-size: 25 * $desk + vw;
      }
      .img:hover {
        color: #d67a0f !important;
      }
    }
  }
}
