@font-face {
  font-family: helvetica-light;
  src: url("../fonts/HelveticaNeue-Thin.otf");
}

.footer-container {
  width: 15.625vw;
}

@media only screen and (max-width: 800px) {
  .footer-container {
    display: none;
    width: 100vw;
  }
}

.footer-container .info {
  font-size: 1.14583vw;
  margin-bottom: 0.9375vw;
  font-family: helvetica-light;
  font-weight: lighter;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .footer-container .info {
    position: absolute;
    font-size: 3.2vw;
  }
}

.footer-container .info span {
  color: #d67a0f;
}

.footer-container .info a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 800px) {
  .footer-container .info-adjust {
    left: 31.2vw;
  }
}

.footer-container .line-footer {
  margin-bottom: 2.08333vw;
}

@media only screen and (max-width: 800px) {
  .footer-container .line-footer {
    display: none;
  }
}

.footer-container .social-container {
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .footer-container .social-container {
    float: right;
    display: table;
  }
}

.footer-container .social-container .social-logo {
  width: 1.19792vw;
  height: 1.19792vw;
  margin-right: 2.08333vw;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .footer-container .social-container .social-logo {
    margin-right: 8vw;
    width: 4vw;
    height: 4vw;
  }
}

.footer-container .social-container .social-logo .img {
  color: white;
  font-size: 1.30208vw;
}

.footer-container .social-container .social-logo .img:hover {
  color: #d67a0f !important;
}
/*# sourceMappingURL=footer.css.map */