.heading1 {
  font-family: Raleway-ExtraLight;
  font-size: 2.96875vw;
  color: #fff;
  line-height: 5.20833vw;
  letter-spacing: 0.10417vw;
}

@media only screen and (max-width: 800px) {
  .heading1 {
    font-size: 9.86667vw;
    white-space: nowrap;
    font-weight: lighter;
  }
}
/*# sourceMappingURL=h1.css.map */