$desk: 100 / 1920;
$mob: 100 / 375;
.heading1 {
  font-family: Raleway-ExtraLight;
  font-size: 57 * $desk + vw;
  color: #fff;
  line-height: 100 * $desk + vw;
  letter-spacing: 2 * $desk + vw;
  @media only screen and (max-width: 800px) {
    font-size: 37 * $mob + vw;
    white-space: nowrap;
    font-weight: lighter;
  }
}
