.heading2 {
  font-family: Raleway-Light;
  font-size: 2.96875vw;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .heading2 {
    font-size: 9.86667vw;
    white-space: nowrap;
    font-weight: lighter;
  }
}
/*# sourceMappingURL=h2.css.map */