$desk: 100 / 1920;
$mob: 100 / 375;
.heading2 {
  font-family: Raleway-Light;
  font-size: 57 * $desk + vw;
  color: #fff;
  @media only screen and (max-width: 800px) {
    font-size: 37 * $mob + vw;
    white-space: nowrap;
    font-weight: lighter;
  }
}
