.home05-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home05-container {
    height: 92.5vh;
  }
}

.home05-container .panelContainer-adjust {
  top: 16.14583vw;
}
/*# sourceMappingURL=home05.css.map */