.App .customCss1 {
  position: absolute;
  z-index: 10;
}

.App .customCss2 {
  position: absolute;
  z-index: 9;
  display: none;
}

@media only screen and (max-width: 800px) {
  .App .customCss2 {
    position: relative;
  }
}

.App .customCss3 {
  position: absolute;
  display: none;
  z-index: 8;
}

@media only screen and (max-width: 800px) {
  .App .customCss3 {
    position: relative;
  }
}

.App .customCss4 {
  position: absolute;
  display: none;
  z-index: 7;
}

@media only screen and (max-width: 800px) {
  .App .customCss4 {
    position: relative;
  }
}

.App .customCss5 {
  position: absolute;
  z-index: 6;
  display: none;
}

.App .customCss6 {
  position: absolute;
  display: none;
  z-index: 5;
}
/*# sourceMappingURL=home.css.map */