.home04-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home04-container {
    height: 92.5vh;
  }
}

.home04-container .dragContainer {
  margin-top: 2vw;
  top: unset;
}

@media only screen and (max-width: 800px) {
  .home04-container .dragContainer {
    top: 51vw;
  }
}

@media only screen and (max-width: 800px) {
  .home04-container .grey {
    top: 112.33333vw;
  }
}

@media only screen and (max-width: 800px) {
  .home04-container .panelContainer {
    top: 37.33333vw;
    left: 4.53333vw;
    width: 133.33333vw;
  }
}

@media only screen and (max-width: 800px) {
  .home04-container .panelContainer .customP {
    position: relative;
    left: 13.33333vw;
    width: 66.4vw;
    font-size: 3.46667vw;
  }
}

.home04-cont {
  width: 60vw;
  overflow: auto;
  height: 14vw;
}

@media only screen and (max-width: 800px) {
  .home04-cont {
    width: 100vw;
    overflow: auto;
    height: 50vw;
  }
}

.home04-cont2 {
  width: 70vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.home04-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
}

.home04-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.home04-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}
/*# sourceMappingURL=home04.css.map */