$desk: 100 / 1920;
$mob: 100 / 375;
.home06-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .phone-adjust {
    float: left;
    z-index: 999;
    width: 45%;
    @media only screen and (max-width: 800px) {
      float: none;
      width: 100%;
    }
  }
  .city-adjust {
    width: 48.5%;
    margin-left: 45 * $desk + vw;
    z-index: 999;
    float: left;
    @media only screen and (max-width: 800px) {
      float: none;
      margin-left: unset;
      width: 100%;
    }
  }
  .inputBoxContainer {
    position: absolute;
    top: 250 * $desk + vw;
    left: 615 * $desk + vw;
    width: 703 * $desk + vw;
    height: auto;
    @media only screen and (max-width: 800px) {
      top: 80 * $mob + vw;
      left: 9 * $mob + vw;
    }
    .inputBox {
      @media only screen and (max-width: 800px) {
        position: relative;
        top: 21 * $mob + vw;
        left: 100 * $mob + vw;
        margin-bottom: 39 * $mob + vw;
        margin-top: 18 * $mob + vw;
      }
      .field {
        @media only screen and (max-width: 800px) {
          position: absolute;
          width: 160 * $mob + vw;
        }
      }
      input {
        @media only screen and (max-width: 800px) {
          font-size: 16 * $mob + vw;
          margin-top: 0 * $mob + vw;
        }
      }
      label {
        @media only screen and (max-width: 800px) {
          text-align: center;
          font-size: 16 * $mob + vw;
          margin-bottom: 0 * $mob + vw;
          width: 100%;
          margin-left: 12 * $mob + vw;
        }
      }
    }
    .customButton {
      position: absolute;
      right: 26 * $desk + vw;
      bottom: -50 * $desk + vw;
      @media only screen and (max-width: 800px) {
        bottom: -30 * $mob + vw;
        right: -55 * $mob + vw;
      }
    }

    // select {
    //   position: relative;
    //   width: 100%;
    //   height: 75 * $desk + vw;
    //   font-family: Raleway-Light;
    //   // margin-left: 103 * $desk + vw;
    //   border: 1px solid #7b7b7b;
    //   font-size: 20 * $desk + vw;
    //   float: left;
    //   margin-bottom: 1.15417vw;
    //   left: unset;
    //   border: none;
    //   color: white;
    //   border-bottom: 1px solid #7b7b7b;
    //   appearance: none;
    //   outline: none;
    //   background: url(https://res.cloudinary.com/dubm0zyx2/image/upload/v1565846656/Devomark/dropdown_rrg7xb.png) 96%/4%
    //     no-repeat;
    //   @media only screen and (max-width: 800px) {
    //     width: 160 * $mob + vw;
    //     height: 48 * $mob + vw;
    //     float: none;
    //     font-size: 15 * $mob + vw;
    //     margin-left: 0vw;
    //     border: none;
    //     left: 26.66667vw;
    //   }
    //   option {
    //     width: 310 * $desk + vw;
    //     height: 100 * $desk + vw;
    //     font-family: Raleway-Light;
    //     font-size: 18 * $desk + vw;
    //     color: black;
    //     @media only screen and (max-width: 800px) {
    //       width: 100 * $mob + vw;
    //       font-size: 12 * $mob + vw;
    //       margin-left: 0vw;
    //       border: none;
    //     }
    //   }
    // }
  }
}

.homeText-area {
  // display: block;
  margin-top: 2vw;
  width: 100%;
  resize: none;
  overflow: auto;
  background: none;
  border: none;
  border-bottom: 1px solid #707070;
  color: white;
  font-family: Raleway-Light;

  @media only screen and (max-width: 800px) {
    // display: block;
    background-color: #414141;
    font-family: Raleway-Light;
    width: 275 * $mob + vw;
    color: white;
    padding-left: 10 * $mob + vw;
    padding-top: 12 * $mob + vw;
    height: 137 * $mob + vw;
    border: none;
    line-height: 1.19;
    font-size: 16 * $mob + vw;
    margin-left: 38 * $mob + vw;
    margin-top: 15 * $mob + vw;
  }
}
.homeText-area::placeholder {
  // padding-top: 8 * $mob + vw;
  // padding-left: 10 * $mob + vw;
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
  margin: 0;
  padding: 0vw;
  @media only screen and (max-width: 800px) {
    font-size: 4.26667vw;
  }
}
// ::placeholder {
//   padding-top: 8 * $mob + vw;
//   padding-left: 10 * $mob + vw;
//   color: white;
// }
.homeMessages {
  display: block;
  z-index: 10;
  float: left;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
.homeText-area:focus {
  border: none;
  border-bottom: 1px solid #d67a0f;
  outline: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #707070;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;

  transition: background-color 5000s ease-in-out 0s;
}
