$desk: 100 / 1920;
$mob: 100 / 375;
.home05-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .panelContainer-adjust {
    top: 310 * $desk + vw;
  }
}
