.home01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home01-container {
    height: 92.5vh;
  }
}

.home01-container .customPosition01 {
  position: absolute;
  left: 12vw;
  bottom: -3.75vw;
}

@media only screen and (max-width: 800px) {
  .home01-container .customPosition01 {
    left: 19.73333vw;
    bottom: -20.8vw;
  }
}

.home01-container .customPosition02 {
  position: absolute;
  left: 24vw;
  bottom: -3.75vw;
}

@media only screen and (max-width: 800px) {
  .home01-container .customPosition02 {
    left: 53.33333vw;
    bottom: -20.8vw;
  }
}

.home01-container .panelContainer {
  position: relative;
  font-family: Raleway-ExtraLight;
  font-size: 1.19792vw;
  top: 19.79167vw;
  left: 27.5vw;
  height: auto;
  opacity: 0.75;
}

@media only screen and (max-width: 800px) {
  .home01-container .panelContainer {
    top: 91.73333vw;
    left: 3.46667vw;
    height: unset;
  }
}

.home01-container .panelContainer .home01-p {
  color: #ffffff;
}

.home01-container .panelContainer p {
  font-size: 1.19792vw;
  font-family: Raleway-ExtraLight;
}

@media only screen and (max-width: 800px) {
  .home01-container .panelContainer p {
    font-size: 3.46667vw;
  }
}
/*# sourceMappingURL=home01.css.map */