$desk: 100 / 1920;
$mob: 100 / 375;
.home04-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .dragContainer {
    margin-top: 2vw;
    top: unset;

    @media only screen and (max-width: 800px) {
      top: 51vw;
    }
  }
  .grey {
    // top: 78.33333vw;
    @media only screen and (max-width: 800px) {
      top: 112.33333vw;
    }
  }
  .panelContainer {
    @media only screen and (max-width: 800px) {
      top: 140 * $mob + vw;
      left: 17 * $mob + vw;
      width: 500 * $mob + vw;
    }

    .customP {
      @media only screen and (max-width: 800px) {
        position: relative;
        left: 50 * $mob + vw;
        width: 249 * $mob + vw;
        font-size: 13 * $mob + vw;
      }
    }
  }
}
.home04-cont {
  width: 60vw;
  overflow: auto;
  height: 14vw;
  @media only screen and (max-width: 800px) {
    width: 100vw;
    overflow: auto;
    height: 50vw;
  }
}

.home04-cont2 {
  width: 70vw;
  display: inline-flex;
}

.home04-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
}

.home04-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.home04-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}
