.home03-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home03-container {
    height: 92.5vh;
  }
}

@media only screen and (max-width: 800px) {
  .home03-container .panelContainer {
    top: 37.33333vw;
    left: 1.86667vw;
    width: 106.66667vw;
    height: 0;
  }
}

@media only screen and (max-width: 800px) {
  .home03-container .panelContainer .grey {
    position: absolute;
    top: 115.33333vw;
    left: 53.33333vw;
  }
}

@media only screen and (max-width: 800px) {
  .home03-container .dragContainer {
    top: 17.86667vw;
  }
}

.home03-container .arrow {
  width: 2.35156vw;
  height: 1.5625vw;
  position: relative;
  float: left;
  margin-left: 1.82292vw;
  margin-right: 1.82292vw;
  margin-top: 5.72917vw;
}

@media only screen and (max-width: 800px) {
  .home03-container .arrow {
    display: none;
  }
}

.home03-cont {
  width: 60vw;
  overflow: auto;
  height: 16vw;
  float: none;
  margin-left: unset;
}

@media only screen and (max-width: 800px) {
  .home03-cont {
    position: relative;
    top: 5vw;
    margin-left: 13.06667vw;
    height: 85vw;
    float: left;
    width: 85vw;
  }
}

.home03-cont2 {
  width: 70vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 800px) {
  .home03-cont2 {
    display: block;
    float: left;
    overflow: auto;
    width: 143vw;
  }
}

.home03-cont2 .img {
  height: 100%;
  width: auto;
}

.home03-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 40px;
}

.home03-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
  border-radius: 40px;
}

.home03-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
  border-radius: 40px;
}
/*# sourceMappingURL=home03.css.map */