$desk: 100 / 1920;
$mob: 100 / 375;
.home03-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .panelContainer {
    @media only screen and (max-width: 800px) {
      top: 140 * $mob + vw;
      left: 7 * $mob + vw;
      width: 400 * $mob + vw;
      height: 0;
    }
    .grey {
      @media only screen and (max-width: 800px) {
        position: absolute;
        top: 115.33333vw;
        left: 53.33333vw;
      }
    }
  }
  .dragContainer {
    @media only screen and (max-width: 800px) {
      top: 67 * $mob + vw;
    }
  }
  .arrow {
    width: 45.15 * $desk + vw;
    height: 30 * $desk + vw;
    position: relative;
    float: left;
    margin-left: 35 * $desk + vw;
    margin-right: 35 * $desk + vw;
    margin-top: 110 * $desk + vw;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}

.home03-cont {
  width: 60vw;
  overflow: auto;
  height: 16vw;
  float: none;
  margin-left: unset;
  @media only screen and (max-width: 800px) {
    position: relative;
    top: 5vw;
    // height: auto;
    margin-left: 49 * $mob + vw;
    height: 85vw;
    float: left;
    width: 85vw;
  }
}

.home03-cont2 {
  width: 70vw;
  display: inline-flex;
  @media only screen and (max-width: 800px) {
    display: block;
    float: left;
    overflow: auto;
    width: 143vw;
  }
  .img {
    height: 100%;
    width: auto;
  }
}
.home03-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 40px;
}

.home03-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
  border-radius: 40px;
}

.home03-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
  border-radius: 40px;
}
