.home02-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home02-container {
    height: 92.5vh;
  }
}

.home02-container .home02--cont {
  position: relative;
  top: -7.8125vw;
}

.home02-container .panelContainer {
  top: 14.79167vw;
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer {
    position: absolute;
    top: 33.86667vw !important;
    height: 0;
  }
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer .grey {
    top: 120vw;
  }
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer .dragContainer {
    position: absolute;
    top: 28.8vw;
    left: 10.66667vw;
  }
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer .home02 {
    margin-right: 13.33333vw;
    margin-bottom: 7.46667vw;
  }
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer .text {
    font-size: 4vw;
    width: 26.66667vw;
    text-align: center;
    margin: auto;
  }
}

.home02-container .panelContainer .icons {
  width: 13.75vw;
  height: 14.16667vw;
}

@media only screen and (max-width: 800px) {
  .home02-container .panelContainer .icons {
    width: 29.06667vw;
    height: 29.86667vw;
  }
}

.home02-cont {
  width: 61vw;
  overflow: auto;
  height: 19vw;
  float: none;
}

@media only screen and (max-width: 800px) {
  .home02-cont {
    width: 85vw;
    float: left;
    overflow: auto;
    overflow-y: hidden;
    height: 88vw;
  }
}

.home02-cont2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow-x: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 800px) {
  .home02-cont2 {
    display: -ms-grid;
    display: grid;
    float: left;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    overflow: auto;
    -ms-grid-rows: 42% 42%;
        grid-template-rows: 42% 42%;
    grid-gap: 0;
  }
}

.home02-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.home02-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.home02-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
/*# sourceMappingURL=home02.css.map */