$desk: 100 / 1920;
$mob: 100 / 375;
.home02-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .home02--cont {
    position: relative;
    top: -150 * $desk + vw;
  }
  .panelContainer {
    top: 284 * $desk + vw;

    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 127 * $mob + vw !important;
      height: 0;
    }
    .grey {
      @media only screen and (max-width: 800px) {
        top: 450 * $mob + vw;
      }
    }
    .dragContainer {
      @media only screen and (max-width: 800px) {
        position: absolute;
        top: 108 * $mob + vw;
        left: 40 * $mob + vw;
      }
    }
    .home02 {
      @media only screen and (max-width: 800px) {
        margin-right: 50 * $mob + vw;
        margin-bottom: 28 * $mob + vw;
      }
    }
    .text {
      @media only screen and (max-width: 800px) {
        font-size: 15 * $mob + vw;
        width: 100 * $mob + vw;
        text-align: center;
        margin: auto;
      }
    }
    .icons {
      width: 264 * $desk + vw;
      height: 272 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: 109 * $mob + vw;
        height: 112 * $mob + vw;
      }
    }
  }
}
.home02-cont {
  width: 61vw;
  overflow: auto;
  height: 19vw;
  float: none;
  @media only screen and (max-width: 800px) {
    width: 85vw;
    float: left;
    // margin-left: 34 * $mob + vw;
    overflow: auto;
    overflow-y: hidden;
    height: 88vw;
  }
}
.home02-cont2 {
  width: max-content;
  overflow-x: auto;
  display: inline-flex;
  @media only screen and (max-width: 800px) {
    display: grid;
    float: left;
    grid-template-columns: repeat(5, auto);
    overflow: auto;
    grid-template-rows: 42% 42%;
    grid-gap: 0;
  }
}

.home02-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.home02-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.home02-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
