.home06-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .home06-container {
    height: 92.5vh;
  }
}

.home06-container .phone-adjust {
  float: left;
  z-index: 999;
  width: 45%;
}

@media only screen and (max-width: 800px) {
  .home06-container .phone-adjust {
    float: none;
    width: 100%;
  }
}

.home06-container .city-adjust {
  width: 48.5%;
  margin-left: 2.34375vw;
  z-index: 999;
  float: left;
}

@media only screen and (max-width: 800px) {
  .home06-container .city-adjust {
    float: none;
    margin-left: unset;
    width: 100%;
  }
}

.home06-container .inputBoxContainer {
  position: absolute;
  top: 13.02083vw;
  left: 32.03125vw;
  width: 36.61458vw;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer {
    top: 21.33333vw;
    left: 2.4vw;
  }
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer .inputBox {
    position: relative;
    top: 5.6vw;
    left: 26.66667vw;
    margin-bottom: 10.4vw;
    margin-top: 4.8vw;
  }
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer .inputBox .field {
    position: absolute;
    width: 42.66667vw;
  }
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer .inputBox input {
    font-size: 4.26667vw;
    margin-top: 0vw;
  }
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer .inputBox label {
    text-align: center;
    font-size: 4.26667vw;
    margin-bottom: 0vw;
    width: 100%;
    margin-left: 3.2vw;
  }
}

.home06-container .inputBoxContainer .customButton {
  position: absolute;
  right: 1.35417vw;
  bottom: -2.60417vw;
}

@media only screen and (max-width: 800px) {
  .home06-container .inputBoxContainer .customButton {
    bottom: -8vw;
    right: -14.66667vw;
  }
}

.homeText-area {
  margin-top: 2vw;
  width: 100%;
  resize: none;
  overflow: auto;
  background: none;
  border: none;
  border-bottom: 1px solid #707070;
  color: white;
  font-family: Raleway-Light;
}

@media only screen and (max-width: 800px) {
  .homeText-area {
    background-color: #414141;
    font-family: Raleway-Light;
    width: 73.33333vw;
    color: white;
    padding-left: 2.66667vw;
    padding-top: 3.2vw;
    height: 36.53333vw;
    border: none;
    line-height: 1.19;
    font-size: 4.26667vw;
    margin-left: 10.13333vw;
    margin-top: 4vw;
  }
}

.homeText-area::-webkit-input-placeholder {
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
  margin: 0;
  padding: 0vw;
}

.homeText-area:-ms-input-placeholder {
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
  margin: 0;
  padding: 0vw;
}

.homeText-area::-ms-input-placeholder {
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
  margin: 0;
  padding: 0vw;
}

.homeText-area::placeholder {
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
  margin: 0;
  padding: 0vw;
}

@media only screen and (max-width: 800px) {
  .homeText-area::-webkit-input-placeholder {
    font-size: 4.26667vw;
  }
  .homeText-area:-ms-input-placeholder {
    font-size: 4.26667vw;
  }
  .homeText-area::-ms-input-placeholder {
    font-size: 4.26667vw;
  }
  .homeText-area::placeholder {
    font-size: 4.26667vw;
  }
}

.homeMessages {
  display: block;
  z-index: 10;
  float: left;
}

@media only screen and (max-width: 800px) {
  .homeMessages {
    display: none;
  }
}

.homeText-area:focus {
  border: none;
  border-bottom: 1px solid #d67a0f;
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #707070;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=home06.css.map */