$desk: 100 / 1920;
$mob: 100 /375;
.home01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .customPosition01 {
    position: absolute;
    left: 12vw;
    bottom: -72 * $desk + vw;
    @media only screen and (max-width: 800px) {
      left: 74 * $mob + vw;
      bottom: -78 * $mob + vw;
    }
  }
  .customPosition02 {
    position: absolute;
    left: 24vw;
    bottom: -72 * $desk + vw;
    @media only screen and (max-width: 800px) {
      left: 200 * $mob + vw;
      bottom: -78 * $mob + vw;
    }
  }
  .panelContainer {
    position: relative;
    font-family: Raleway-ExtraLight;
    font-size: 23 * $desk + vw;
    top: 380 * $desk + vw;
    left: 528 * $desk + vw;
    height: auto;
    opacity: 0.75;
    @media only screen and (max-width: 800px) {
      top: 91.73333vw;
      left: 3.46667vw;
      height: unset;
    }

    .home01-p {
      color: #ffffff;
    }

    p {
      font-size: 23 * $desk + vw;
      font-family: Raleway-ExtraLight;

      @media only screen and (max-width: 800px) {
        font-size: 13 * $mob + vw;
      }
    }
  }
}
