$desk: 100 / 1920;
$mob: 100 / 375;

.icons-container {
  position: relative;
  left: -3vw;
  top: 1vw;
  // width: 387 * $desk + vw;
  width: auto;
  height: 128 * $desk + vw;
  border-radius: 14 * $desk + vw;
  box-shadow: 4 * $desk + vw 4 * $desk + vw 4 * $desk + vw 0 rgba(0, 0, 0, 0.16);
  overflow: auto;
  background-image: linear-gradient(to bottom, #212020, #403f3f 52%, #575757);
  @media only screen and (max-width: 800px) {
    width: 345 * $mob + vw;
    height: 94 * $mob + vw;
    left: -36 * $mob + vw;
    top: 14 * $mob + vw;
    border-radius: 14 * $mob + vw;
  }
  .icons-container2 {
    width: max-content;
    overflow: auto;
    overflow-y: hidden;
    @media only screen and (max-width: 800px) {
    }
  }
  .icons {
    position: relative;
    width: 64 * $desk + vw;
    height: 64 * $desk + vw;
    object-fit: contain;
    float: left;
    margin-top: 38 * $desk + vw;
    margin-left: 22 * $desk + vw;
    margin-right: 15 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 54 * $mob + vw;
      height: 54 * $mob + vw;
      margin-top: 22 * $mob + vw;
      margin-left: 18 * $mob + vw;
      margin-right: 5 * $mob + vw;
    }
    img {
      width: 64 * $desk + vw;
      height: 64 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: 54.1 * $mob + vw;
        height: 54.1 * $mob + vw;
      }
      // box-shadow: 5 * $desk + vw 5 * $desk + vw 5 * $desk + vw 0 rgba(0, 0, 0, 0.16);
    }
  }
}

.icons-container::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.icons-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.icons-container::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
