.icons-container {
  position: relative;
  left: -3vw;
  top: 1vw;
  width: auto;
  height: 6.66667vw;
  border-radius: 0.72917vw;
  -webkit-box-shadow: 0.20833vw 0.20833vw 0.20833vw 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0.20833vw 0.20833vw 0.20833vw 0 rgba(0, 0, 0, 0.16);
  overflow: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212020), color-stop(52%, #403f3f), to(#575757));
  background-image: linear-gradient(to bottom, #212020, #403f3f 52%, #575757);
}

@media only screen and (max-width: 800px) {
  .icons-container {
    width: 92vw;
    height: 25.06667vw;
    left: -9.6vw;
    top: 3.73333vw;
    border-radius: 3.73333vw;
  }
}

.icons-container .icons-container2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: auto;
  overflow-y: hidden;
}

.icons-container .icons {
  position: relative;
  width: 3.33333vw;
  height: 3.33333vw;
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
  margin-top: 1.97917vw;
  margin-left: 1.14583vw;
  margin-right: 0.78125vw;
}

@media only screen and (max-width: 800px) {
  .icons-container .icons {
    width: 14.4vw;
    height: 14.4vw;
    margin-top: 5.86667vw;
    margin-left: 4.8vw;
    margin-right: 1.33333vw;
  }
}

.icons-container .icons img {
  width: 3.33333vw;
  height: 3.33333vw;
}

@media only screen and (max-width: 800px) {
  .icons-container .icons img {
    width: 14.42667vw;
    height: 14.42667vw;
  }
}

.icons-container::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.icons-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.icons-container::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
/*# sourceMappingURL=icons.css.map */