$desk: 100 / 1920;

.inputBox {
  width: 100%;

  .field {
    background: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    font-family: Raleway-Light;
    font-size: 20 * $desk + vw;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #707070;
    margin-top: 28 * $desk + vw;
    padding-bottom: 28 * $desk + vw;
  }

  input[required] + label {
    color: #fff;
    font-family: Raleway-Light;
    font-size: 20 * $desk + vw;
    position: relative;
  }

  label {
    position: relative;
    top: -55 * $desk + vw;
  }
  input[required] + label:after {
    content: "*";
    color: #d67a0f;
  }

  /* show the placeholder when input has no content (no content = invalid) */
  input[required]:invalid + label {
    display: inline-block;
    visibility: visible;
  }

  /* hide the placeholder when input has some text typed in */
  input[required]:valid + label {
    // display: none;
    visibility: hidden;
  }
  .field:focus {
    border: none;
    border-bottom: 1px solid #d67a0f;
    outline: none !important;
  }
  // internal-autofill-selected
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 1px solid #707070;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 0px transparent inset;

    transition: background-color 5000s ease-in-out 0s;
  }
}
