.inputBox {
  width: 100%;
  /* show the placeholder when input has no content (no content = invalid) */
  /* hide the placeholder when input has some text typed in */
}

.inputBox .field {
  background: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #707070;
  margin-top: 1.45833vw;
  padding-bottom: 1.45833vw;
}

.inputBox input[required] + label {
  color: #fff;
  font-family: Raleway-Light;
  font-size: 1.04167vw;
  position: relative;
}

.inputBox label {
  position: relative;
  top: -2.86458vw;
}

.inputBox input[required] + label:after {
  content: "*";
  color: #d67a0f;
}

.inputBox input[required]:invalid + label {
  display: inline-block;
  visibility: visible;
}

.inputBox input[required]:valid + label {
  visibility: hidden;
}

.inputBox .field:focus {
  border: none;
  border-bottom: 1px solid #d67a0f;
  outline: none !important;
}

.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox textarea:-webkit-autofill,
.inputBox textarea:-webkit-autofill:hover,
.inputBox textarea:-webkit-autofill:focus,
.inputBox select:-webkit-autofill,
.inputBox select:-webkit-autofill:hover,
.inputBox select:-webkit-autofill:focus {
  border-bottom: 1px solid #707070;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=inputBox.css.map */