body {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

@media only screen and (max-width: 800px) {
  .overlay {
    top: 0;
    width: 100vw;
    height: 100vh;
    right: 0px;
  }
}

.subscribeContainer {
  position: fixed;
  width: 35.15625vw;
  height: 24.21875vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  top: 28%;
  text-align: center;
  -webkit-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.78125vw;
  background: #3c3c3c;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer {
    width: 85vw;
    height: 55vh;
    top: 18%;
  }
}

.subscribeContainer .closeX {
  position: absolute;
  right: 1.04167vw;
  top: 1.04167vw;
  font-family: Raleway-Light;
  font-weight: bold;
  font-size: 1.5625vw;
  cursor: pointer;
  width: 2vw;
  color: #757575;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer .closeX {
    font-size: 5.86667vw;
    right: 4vw;
    top: 4vw;
    width: 7vw;
    border-radius: 4vw;
  }
}

.subscribeContainer .inputContainer {
  position: relative;
  top: 10%;
  width: unset;
  color: white;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer .inputContainer {
    top: 20%;
    width: 84vw;
  }
}

.subscribeContainer .inputContainer .subs-text {
  font-size: 1.66667vw;
  font-family: Montserrat-Light;
  margin-bottom: 2.60417vw;
  width: 25vw;
  left: 14%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer .inputContainer .subs-text {
    font-size: 4.8vw;
    margin-bottom: 14.20833vw;
    width: 66vw;
  }
}

.subscribeContainer .subInput-container {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  .subscribeContainer .subInput-container {
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
  }
}

.subscribeContainer input[type="text"] {
  display: block;
  width: 20.3125vw;
  height: 3.2vw;
  padding-left: 0.78125vw;
  margin: 0;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat-Medium;
  color: black;
  font-size: 1.25vw;
  margin-bottom: unset;
  position: relative;
  left: 7.4vw;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer input[type="text"] {
    width: 73.33333vw;
    height: 14.66667vw;
    font-size: 5.33333vw;
    margin-bottom: 7vw;
  }
}

.subscribeContainer #disable3 {
  width: 9.89583vw;
  height: 3.2vw;
  display: block;
  background-color: #d67a0f;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Montserrat-Light;
  font-weight: bold;
  position: unset;
  top: unset;
  left: unset;
  position: relative;
  left: 12.9vw;
  margin-top: 2.5vw;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer #disable3 {
    width: 40vw;
    height: 14.66667vw;
    margin-top: 5.33333vw;
    margin-left: 17.41667vw;
    left: 7.9vw;
  }
}

.subscribeContainer #disable:hover {
  background-color: #eca75c;
}

.subscribeContainer ::-webkit-input-placeholder {
  font-size: 0.9375vw;
  margin: 0;
  color: #b9b6b6;
  left: 0;
  position: absolute;
}

.subscribeContainer :-ms-input-placeholder {
  font-size: 0.9375vw;
  margin: 0;
  color: #b9b6b6;
  left: 0;
  position: absolute;
}

.subscribeContainer ::-ms-input-placeholder {
  font-size: 0.9375vw;
  margin: 0;
  color: #b9b6b6;
  left: 0;
  position: absolute;
}

.subscribeContainer ::placeholder {
  font-size: 0.9375vw;
  margin: 0;
  color: #b9b6b6;
  left: 0;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer ::-webkit-input-placeholder {
    font-size: 4vw;
  }
  .subscribeContainer :-ms-input-placeholder {
    font-size: 4vw;
  }
  .subscribeContainer ::-ms-input-placeholder {
    font-size: 4vw;
  }
  .subscribeContainer ::placeholder {
    font-size: 4vw;
  }
}

.subscribeContainer .notice-text {
  position: absolute;
  font-family: Montserrat-Light;
  margin-top: 2.5vw;
  left: 7.3vw;
  width: unset;
  font-size: 0.98958vw;
}

@media only screen and (max-width: 800px) {
  .subscribeContainer .notice-text {
    left: 7vw;
    width: 75vw;
    margin-top: 7vw;
    font-size: 3.2vw;
  }
}

.subscribeContainer .notice-text span {
  color: red;
}
/*# sourceMappingURL=loading.css.map */