$desk: 100/1920;
$mob: 100/375;
body {
  overflow: hidden;
}

// .loadingContainer {
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 9999;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  // cursor: pointer;
  @media only screen and (max-width: 800px) {
    top: 0;
    width: 100vw;
    height: 100vh;
    //margin-top: 32.5vw;
    right: 0px;
  }
}
.subscribeContainer {
  position: fixed;
  // position: relative;
  width: 675 * $desk + vw;
  height: 465 * $desk + vw;
  // background-color: white;
  left: 50%;
  transform: translateX(-50%);
  // right: 0;
  // margin: auto;
  z-index: 999;
  top: 28%;
  text-align: center;
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15 * $desk + vw;
  background: #3c3c3c;
  @media only screen and (max-width: 800px) {
    width: 85vw;
    height: 55vh;
    top: 18%;
  }
  .closeX {
    position: absolute;
    right: 20 * $desk + vw;
    top: 20 * $desk + vw;
    font-family: Raleway-Light;
    font-weight: bold;
    font-size: 30 * $desk + vw;
    cursor: pointer;
    width: 2vw;
    color: #757575;
    // border: 2px solid #757575;
    // border-radius: 22 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-size: 22 * $mob + vw;
      right: 15 * $mob + vw;
      top: 15 * $mob + vw;
      width: 7vw;
      border-radius: 15 * $mob + vw;
    }
  }
  .inputContainer {
    position: relative;
    top: 10%;
    width: unset;
    color: white;
    @media only screen and (max-width: 800px) {
      top: 20%;
      width: 84vw;
    }
    .subs-text {
      font-size: 32 * $desk + vw;
      font-family: Montserrat-Light;
      margin-bottom: 50 * $desk + vw;
      width: 25vw;
      left: 14%;
      position: relative;
      @media only screen and (max-width: 800px) {
        font-size: 18 * $mob + vw;
        margin-bottom: 14.20833vw;
        width: 66vw;
      }
    }
  }
  .subInput-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // right: 0;
    // margin: auto;
    // width: 100%;
    @media only screen and (max-width: 800px) {
      transform: translateX(-52%);
    }
  }
  input[type="text"] {
    display: block;
    // float: left;
    width: 390 * $desk + vw;
    height: 3.2vw;
    // padding: 12px 20px;
    padding-left: 15 * $desk + vw;
    margin: 0;
    // display: inline-block;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Montserrat-Medium;
    color: black;
    font-size: 24 * $desk + vw;
    margin-bottom: unset;
    position: relative;
    // left: 0vw;
    // right: 0;
    // margin: auto;
    left: 7.4vw;
    @media only screen and (max-width: 800px) {
      width: 275 * $mob + vw;
      height: 55 * $mob + vw;
      font-size: 20 * $mob + vw;
      margin-bottom: 7vw;
    }
  }
  #disable3 {
    width: 190 * $desk + vw;
    height: 3.2vw;
    display: block;
    background-color: #d67a0f;
    color: white;
    padding: 14px 20px;
    margin: 0;
    // margin-left: 21.41667vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat-Light;
    font-weight: bold;
    position: unset;
    top: unset;
    left: unset;
    position: relative;
    left: 12.9vw;
    margin-top: 2.5vw;
    @media only screen and (max-width: 800px) {
      width: 150 * $mob + vw;
      height: 55 * $mob + vw;
      margin-top: 20 * $mob + vw;
      margin-left: 17.41667vw;
      left: 7.9vw;
    }
  }

  #disable:hover {
    background-color: #eca75c;
  }
  // }
  ::placeholder {
    font-size: 18 * $desk + vw;
    margin: 0;
    color: #b9b6b6;
    left: 0;
    // color: red;
    position: absolute;
    @media only screen and (max-width: 800px) {
      font-size: 15 * $mob + vw;
    }
  }
  .notice-text {
    position: absolute;
    font-family: Montserrat-Light;
    margin-top: 2.5vw;
    left: 7.3vw;
    width: unset;
    font-size: 19 * $desk + vw;
    @media only screen and (max-width: 800px) {
      left: 7vw;
      width: 75vw;
      margin-top: 7vw;
      font-size: 12 * $mob + vw;
    }
    span {
      color: red;
    }
  }
}

// }
