$desk: 100 / 1920;
$mob: 100 / 375;
.panelContainer {
  .panelLeft {
    width: 464 * $desk + vw;
    height: 100%;
    margin-right: 70 * $desk + vw;
    float: left;
    @media only screen and (max-width: 800px) {
      width: 212.5 * $mob + vw;
      height: 218.9 * $mob + vw;
    }
    .bgimg {
      width: 100%;
      height: 100%;
    }
    .locationText {
      position: absolute;
      bottom: 30 * $desk + vw;
      left: 23 * $desk + vw;
      text-align: center;
      color: #fff;
      font-size: 27 * $desk + vw;
      font-family: Raleway-Regular;
      //font style missing
      @media only screen and (max-width: 800px) {
        top: 191 * $mob + vw;
        bottom: 0;
        left: 10.5 * $mob + vw;
        font-size: 12 * $mob + vw;
      }
    }
  }
  .panelRight {
    width: 464 * $desk + vw;
    height: 478 * $desk + vw;
    float: left;
    // background-color: #4a4848;
    box-sizing: border-box;
    padding-top: 0vw;
    .shadow {
      box-shadow: none;
    }
    @media only screen and (max-width: 800px) {
      margin-top: 23.4 * $mob + vw;
      width: 212.5 * $mob + vw;
      height: 218.9 * $mob + vw;
      padding-top: 0vw;
    }
    .bgimg {
      width: 100%;
      height: 100%;
    }
  }
  .custom-img {
    width: 103%;
    height: 103%;
  }
}
.panelContainer-adjust {
  top: 357 * $desk + vw;
  @media only screen and (max-width: 800px) {
    top: 129 * $mob + vw !important;
    left: 95 * $mob + vw !important;
  }
}
