$desk: 100 / 1920;
$mob: 100 / 375;
//  top: 68 * * $desk + vw;
.LocationInfo {
  margin-top: 35 * $desk + vw;
  display: table;
  @media only screen and (max-width: 800px) {
    margin-top: 23.8 * $mob + vw;
  }
  .logo {
    display: inline-block;
    height: 40 * $desk + vw;
    width: 40 * $desk + vw;
    margin-left: 26 * $desk + vw;
    margin-right: 26 * $desk + vw;
    vertical-align: middle;
    @media only screen and (max-width: 800px) {
      width: 20.6px;
      height: 20.6px;
      margin-left: 11.9 * $mob + vw;
      margin-right: 10.9 * $mob + vw;
    }
    .img-adjust {
      object-fit: contain;
    }
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    width: 350 * $desk + vw;
    text-decoration: none;
    color: #fff;
    font-size: 20 * $desk + vw;
    font-family: Raleway-Regular;
    line-height: 24 * $desk + vw;
    letter-spacing: 2 * $desk + vw;
    //font styling missing-done
    opacity: 0.75;
    @media only screen and (max-width: 800px) {
      font-size: 10 * $mob + vw;
      width: 140 * $mob + vw;
      line-height: 10 * $mob + vw;
      letter-spacing: 1 * $mob + vw;
    }
  }
  a:hover {
    color: #d67a0f;
  }
}
