.panelContainer .panelLeft {
  width: 24.16667vw;
  height: 100%;
  margin-right: 3.64583vw;
  float: left;
}

@media only screen and (max-width: 800px) {
  .panelContainer .panelLeft {
    width: 56.66667vw;
    height: 58.37333vw;
  }
}

.panelContainer .panelLeft .bgimg {
  width: 100%;
  height: 100%;
}

.panelContainer .panelLeft .locationText {
  position: absolute;
  bottom: 1.5625vw;
  left: 1.19792vw;
  text-align: center;
  color: #fff;
  font-size: 1.40625vw;
  font-family: Raleway-Regular;
}

@media only screen and (max-width: 800px) {
  .panelContainer .panelLeft .locationText {
    top: 50.93333vw;
    bottom: 0;
    left: 2.8vw;
    font-size: 3.2vw;
  }
}

.panelContainer .panelRight {
  width: 24.16667vw;
  height: 24.89583vw;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0vw;
}

.panelContainer .panelRight .shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 800px) {
  .panelContainer .panelRight {
    margin-top: 6.24vw;
    width: 56.66667vw;
    height: 58.37333vw;
    padding-top: 0vw;
  }
}

.panelContainer .panelRight .bgimg {
  width: 100%;
  height: 100%;
}

.panelContainer .custom-img {
  width: 103%;
  height: 103%;
}

.panelContainer-adjust {
  top: 18.59375vw;
}

@media only screen and (max-width: 800px) {
  .panelContainer-adjust {
    top: 34.4vw !important;
    left: 25.33333vw !important;
  }
}
/*# sourceMappingURL=locationPanel.css.map */