.LocationInfo {
  margin-top: 1.82292vw;
  display: table;
}

@media only screen and (max-width: 800px) {
  .LocationInfo {
    margin-top: 6.34667vw;
  }
}

.LocationInfo .logo {
  display: inline-block;
  height: 2.08333vw;
  width: 2.08333vw;
  margin-left: 1.35417vw;
  margin-right: 1.35417vw;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  .LocationInfo .logo {
    width: 20.6px;
    height: 20.6px;
    margin-left: 3.17333vw;
    margin-right: 2.90667vw;
  }
}

.LocationInfo .logo .img-adjust {
  -o-object-fit: contain;
     object-fit: contain;
}

.LocationInfo .text {
  display: inline-block;
  vertical-align: middle;
  width: 18.22917vw;
  text-decoration: none;
  color: #fff;
  font-size: 1.04167vw;
  font-family: Raleway-Regular;
  line-height: 1.25vw;
  letter-spacing: 0.10417vw;
  opacity: 0.75;
}

@media only screen and (max-width: 800px) {
  .LocationInfo .text {
    font-size: 2.66667vw;
    width: 37.33333vw;
    line-height: 2.66667vw;
    letter-spacing: 0.26667vw;
  }
}

.LocationInfo a:hover {
  color: #d67a0f;
}
/*# sourceMappingURL=locationInfo.css.map */