$desk: 100 / 1920;
$mob: 100 / 375;
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Light.ttf");
}
.menubutton-container {
  display: none;

  @media only screen and (max-width: 800px) {
    display: block;
    position: fixed;
    // width: 100 * $mob + vw;
    // height: 80 * $mob + vw;
    // width: 100vw;
    right: 0;
    height: 100%;
    transition: right 0.5s ease-in-out;
    z-index: 99;
  }
  a {
    text-decoration: none;
    color: white;
    text-align: right;
  }
  .menu-text {
    @media only screen and (max-width: 800px) {
      opacity: 1;
      width: 65 * $mob + vw;
      height: 25 * $mob + vw;
      top: 183 * $mob + vw;
      font-size: 17 * $mob + vw;
      font-family: Raleway-ExtraLight;
      color: white;
      transform: rotate(-90deg);
      position: relative;
      right: 15vw;
      background-color: #d67a0f;
      border-top-left-radius: 8 * $mob + vw;
      border-top-right-radius: 8 * $mob + vw;
      padding-left: 14 * $mob + vw;
      // width: 100%;
      transition: opacity 3s;
      top: 140 * $mob + vw;
      z-index: 9999;
      padding-top: 6 * $mob + vw;
    }
  }
  // .menu-text2 {
  //   @media only screen and (max-width: 800px) {
  //     opacity: 1;
  //     width: 65 * $mob + vw;
  //     height: 27 * $mob + vw;
  //     top: 183 * $mob + vw;
  //     font-size: 17 * $mob + vw;
  //     font-family: Raleway;
  //     color: white;
  //     transform: rotate(-90deg);
  //     position: relative;
  //     right: 14.2vw;
  //     background-color: #d67a0f;
  //     border-top-left-radius: 8 * $mob + vw;
  //     border-top-right-radius: 8 * $mob + vw;
  //     padding-left: 14 * $mob + vw;
  //     // width: 100%;
  //     transition: opacity 3s;
  //     top: 140 * $mob + vw;
  //     z-index: 9999;
  //   }
  // }

  .menu-container {
    @media only screen and (max-width: 800px) {
      position: absolute;
      width: 100vw;
      height: 100%;
      // opacity: 0.5;
      background-color: rgba(0, 0, 0, 0.8);
      // background: rebeccapurple;
      top: 0;
      right: -100vw;
      z-index: 99;
    }
    ul {
      position: relative;
      top: 50%;
      transform: translateY(-60%);
      // top: 217 * $mob + vw;
      font-family: Montserrat-Medium;
      font-size: 33 * $mob + vw;
      float: right;
      list-style: none;
      margin-right: 43.6 * $mob + vw;
      color: white;
      li {
        padding-bottom: 24.4 * $mob + vw;
      }
    }
  }
  .close-text {
    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 17 * $mob + vw;
      right: 7 * $mob + vw;
      font-family: Montserrat-Light;
      font-size: 17 * $mob + vw;
      color: #d67a0f;
    }
  }

  .open-menu {
    @media only screen and (max-width: 800px) {
      position: absolute;
      right: 0vw;
      transition: right 1500ms;
      // background-color: #000;
      // box-sizing: border-box;
    }
  }
  .close-menu {
    @media only screen and (max-width: 800px) {
      position: absolute;
      right: -100vw;
      transition: right 1500ms;
      // background-color: #000;
      // box-sizing: border-box;
    }
  }
  .activeRoute {
    color: #d67a0f;
  }
}
