@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Light.ttf");
}

.menubutton-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menubutton-container {
    display: block;
    position: fixed;
    right: 0;
    height: 100%;
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    z-index: 99;
  }
}

.menubutton-container a {
  text-decoration: none;
  color: white;
  text-align: right;
}

@media only screen and (max-width: 800px) {
  .menubutton-container .menu-text {
    opacity: 1;
    width: 17.33333vw;
    height: 6.66667vw;
    top: 48.8vw;
    font-size: 4.53333vw;
    font-family: Raleway-ExtraLight;
    color: white;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: relative;
    right: 15vw;
    background-color: #d67a0f;
    border-top-left-radius: 2.13333vw;
    border-top-right-radius: 2.13333vw;
    padding-left: 3.73333vw;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    top: 37.33333vw;
    z-index: 9999;
    padding-top: 1.6vw;
  }
}

@media only screen and (max-width: 800px) {
  .menubutton-container .menu-container {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: -100vw;
    z-index: 99;
  }
}

.menubutton-container .menu-container ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  font-family: Montserrat-Medium;
  font-size: 8.8vw;
  float: right;
  list-style: none;
  margin-right: 11.62667vw;
  color: white;
}

.menubutton-container .menu-container ul li {
  padding-bottom: 6.50667vw;
}

@media only screen and (max-width: 800px) {
  .menubutton-container .close-text {
    position: absolute;
    top: 4.53333vw;
    right: 1.86667vw;
    font-family: Montserrat-Light;
    font-size: 4.53333vw;
    color: #d67a0f;
  }
}

@media only screen and (max-width: 800px) {
  .menubutton-container .open-menu {
    position: absolute;
    right: 0vw;
    -webkit-transition: right 1500ms;
    transition: right 1500ms;
  }
}

@media only screen and (max-width: 800px) {
  .menubutton-container .close-menu {
    position: absolute;
    right: -100vw;
    -webkit-transition: right 1500ms;
    transition: right 1500ms;
  }
}

.menubutton-container .activeRoute {
  color: #d67a0f;
}
/*# sourceMappingURL=menubutton.css.map */