.Navlinks-container {
  position: absolute;
  top: 4.58333vw;
  right: 4.58333vw;
  list-style: none;
  text-align: right;
  cursor: pointer !important;
}

@media only screen and (max-width: 800px) {
  .Navlinks-container {
    display: none;
  }
}

.Navlinks-container .nav-link {
  font-size: 0.9375vw;
  margin-bottom: 0.625vw;
  cursor: pointer !important;
  font-family: Montserrat-Light;
}

.Navlinks-container .active-link {
  color: #d67a0f;
  font-family: Montserrat-Medium;
}

.Navlinks-container .inactive-link {
  color: #fff;
}
/*# sourceMappingURL=navlinks.css.map */