$desk: 100 / 1920;

.Navlinks-container {
  position: absolute;
  top: 88 * $desk + vw;
  right: 88 * $desk + vw;
  list-style: none;
  text-align: right;
  cursor: pointer !important;
  @media only screen and (max-width: 800px) {
    display: none;
  }
  .nav-link {
    font-size: 18 * $desk + vw;
    margin-bottom: 12 * $desk + vw;
    cursor: pointer !important;
    font-family: Montserrat-Light;
    //Missing Font Styles -Done
  }
  .active-link {
    color: #d67a0f;
    font-family: Montserrat-Medium;
  }
  .inactive-link {
    color: #fff;
  }
}
