.customPara {
  width: 36.45833vw;
  font-family: Raleway-Light;
  font-size: 1.19792vw;
  color: #b3b0b0;
  margin-top: 1.30208vw;
}

@media only screen and (max-width: 800px) {
  .customPara {
    width: 93.06667vw;
    font-size: 3.46667vw;
    font-weight: lighter;
    color: #808080;
  }
}

.customPara span {
  color: #d67a0f;
}
/*# sourceMappingURL=p.css.map */