$desk: 100 / 1920;
$mob: 100 / 375;
//  top: 68 * * $desk + vw;
.customPara {
  width: 700 * $desk + vw;
  // margin-bottom: 40 * $desk + vw;
  font-family: Raleway-Light;
  font-size: 23 * $desk + vw;
  color: #b3b0b0;
  margin-top: 25 * $desk + vw;
  @media only screen and (max-width: 800px) {
    width: 349 * $mob + vw;
    font-size: 13 * $mob + vw;
    font-weight: lighter;
    color: #808080;
  }
  span {
    color: #d67a0f;
  }
}
