.processContainer {
  position: absolute;
  top: 14.79167vw;
  left: 32.03125vw;
  width: 53.125vw;
  height: 40.52083vw;
}

.processContainer .timeLine {
  position: absolute;
  width: 0.05208vw;
  height: 56.25vw;
  top: -14.79167vw;
  left: 50%;
  background-color: #707070;
}

@media only screen and (max-width: 800px) {
  .processContainer .timeLine {
    top: 69.06667vw;
    left: -1.86667vw;
    width: 100%;
    height: 0.26667vw;
  }
}
/*# sourceMappingURL=processcontainer.css.map */