$desk: 100 / 1920;
$mob: 100 / 375;
.process {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-top: -55 * $desk + vw;
  z-index: 1;
  @media only screen and (max-width: 800px) {
  }
  .textContainer {
    width: 400 * $desk + vw;
    @media only screen and (max-width: 800px) {
      width: 280.5 * $mob + vw;
    }
    .customH1 {
      font-family: Montserrat-Medium;
      font-size: 28 * $desk + vw;
      margin-bottom: 22 * $desk + vw;
      @media only screen and (max-width: 800px) {
        font-size: 17 * $mob + vw;
        margin-bottom: 8 * $mob + vw;
      }
    }
    .customP {
      font-family: HelveticaNeue-Thin;
      font-size: 17 * $desk + vw;
      line-height: 20 * $desk + vw;
      color: #cecece;
      width: 401 * $desk + vw;
      @media only screen and (max-width: 800px) {
        font-size: 13 * $mob + vw;
        line-height: 16 * $mob + vw;
      }
    }
  }
  .numberContainer {
    width: 60 * $desk + vw;
    height: 60 * $desk + vw;
    border: 1px solid #d67a0f;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-family: Raleway-Light;
    font-size: 50 * $desk + vw;
    line-height: 48 * $desk + vw;
    background-color: #3c3c3c;
    margin-top: 50 * $desk + vw;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
      width: 34.1 * $mob + vw;
      height: 34.1 * $mob + vw;
      border: 1 * $mob + vw solid #d67a0f;
      font-size: 26 * $mob + vw;
      line-height: 30 * $mob + vw;
      margin-top: 0 * $desk + vw;
    }
  }
  // .numberContainer:hover {
  //   // background-color: #fff;
  //   color: #d67a0f;
  //   // border: 2px solid #d67a0f;
  // }
  // .activeNumber {
  //   //background-color: #fff;
  //   color: #d67a0f;
  //   // border: 2px solid #d67a0f;
  // }
}
.leftFloat {
  .textContainer {
    float: left;
  }
  .numberContainer {
    float: left;
    margin-left: 80 * $desk + vw;
    @media only screen and (max-width: 800px) {
      position: absolute;
      top: 130 * $mob + vw;
      margin-left: 0;
    }
  }
}
.rightFloat {
  .textContainer {
    float: right;
    margin-top: 0;
    position: relative;
    @media only screen and (max-width: 800px) {
      margin-top: 53.5vw;
      left: -125 * $mob + vw;
    }
    .customP {
      width: 436 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: 280.5 * $mob + vw;
      }
    }
  }
  .numberContainer {
    float: right;
    margin-right: 80 * $desk + vw;
    position: relative;
    @media only screen and (max-width: 800px) {
      float: left;
      left: -32vw;
      top: -184 * $mob + vw;
    }
  }
}
.first {
  margin-top: 40 * $desk + vw;
}
