.process {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-top: -2.86458vw;
  z-index: 1;
}

.process .textContainer {
  width: 20.83333vw;
}

@media only screen and (max-width: 800px) {
  .process .textContainer {
    width: 74.8vw;
  }
}

.process .textContainer .customH1 {
  font-family: Montserrat-Medium;
  font-size: 1.45833vw;
  margin-bottom: 1.14583vw;
}

@media only screen and (max-width: 800px) {
  .process .textContainer .customH1 {
    font-size: 4.53333vw;
    margin-bottom: 2.13333vw;
  }
}

.process .textContainer .customP {
  font-family: HelveticaNeue-Thin;
  font-size: 0.88542vw;
  line-height: 1.04167vw;
  color: #cecece;
  width: 20.88542vw;
}

@media only screen and (max-width: 800px) {
  .process .textContainer .customP {
    font-size: 3.46667vw;
    line-height: 4.26667vw;
  }
}

.process .numberContainer {
  width: 3.125vw;
  height: 3.125vw;
  border: 1px solid #d67a0f;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-family: Raleway-Light;
  font-size: 2.60417vw;
  line-height: 2.5vw;
  background-color: #3c3c3c;
  margin-top: 2.60417vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .process .numberContainer {
    width: 9.09333vw;
    height: 9.09333vw;
    border: 0.26667vw solid #d67a0f;
    font-size: 6.93333vw;
    line-height: 8vw;
    margin-top: 0vw;
  }
}

.leftFloat .textContainer {
  float: left;
}

.leftFloat .numberContainer {
  float: left;
  margin-left: 4.16667vw;
}

@media only screen and (max-width: 800px) {
  .leftFloat .numberContainer {
    position: absolute;
    top: 34.66667vw;
    margin-left: 0;
  }
}

.rightFloat .textContainer {
  float: right;
  margin-top: 0;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .rightFloat .textContainer {
    margin-top: 53.5vw;
    left: -33.33333vw;
  }
}

.rightFloat .textContainer .customP {
  width: 22.70833vw;
}

@media only screen and (max-width: 800px) {
  .rightFloat .textContainer .customP {
    width: 74.8vw;
  }
}

.rightFloat .numberContainer {
  float: right;
  margin-right: 4.16667vw;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .rightFloat .numberContainer {
    float: left;
    left: -32vw;
    top: -49.06667vw;
  }
}

.first {
  margin-top: 2.08333vw;
}
/*# sourceMappingURL=process.css.map */