$desk: 100 / 1920;
$mob: 100 / 375;
.processContainer {
  position: absolute;
  top: 14.79167vw;
  left: 615 * $desk + vw;
  width: 1020 * $desk + vw;
  height: 778 * $desk + vw;
  //overflow: hidden;
  //background: red;
  .timeLine {
    position: absolute;
    width: 1 * $desk + vw;
    height: 1080 * $desk + vw;
    top: -14.79167vw;
    left: 50%;
    background-color: #707070;
    @media only screen and (max-width: 800px) {
      top: 259 * $mob + vw;
      left: -7 * $mob + vw;
      width: 100%;
      height: 1 * $mob + vw;
     }
  }
}
