$desk: 100 / 1920;
$mob: 100 / 375;
.project02-container {
  .client-logo {
    display: inline-block;
    height: 89.4 * $desk + vw;
    // width: 100 * $desk + vw;
    width: auto;
    // background: blueviolet;
    @media only screen and (max-width: 800px) {
      height: 30 * $mob + vw;
    }
  }
  .client-name {
    display: inline-block;
    color: white;
    font-family: Raleway-ExtraLight;
    font-size: 80 * $desk + vw;
    line-height: 106 * $desk + vw;
    margin-left: 50 * $desk + vw;
    top: 50%;
    transform: translateY(-10%);
    @media only screen and (max-width: 800px) {
      font-size: 28 * $mob + vw;
      transform: translateY(13%);
      margin-bottom: 2vw;
    }
  }
  .detail-container {
    position: relative;
    display: flex;
    float: none;
    height: 22vw;
    @media only screen and (max-width: 800px) {
      height: 32vh;
    }
    .desk-img {
      max-width: 738.5 * $desk + vw;
      max-height: 357.5 * $desk + vw;
      display: inline-block;
      @media only screen and (max-width: 800px) {
        // width: 328 * $mob + vw;
        display: contents;
        // height: 192 * $mob + vw;
        max-width: 328 * $mob + vw;
        max-height: 186 * $mob + vw;
      }
    }
    .mob-img {
      max-width: 342 * $desk + vw;
      max-height: 357.5 * $desk + vw;
      display: inline-block;
      margin-left: 77.5 * $desk + vw;
      margin-right: 78 * $desk + vw;
      @media only screen and (max-width: 800px) {
        // width: 110 * $mob + vw;
        // height: 192 * $mob + vw;
        max-width: 110 * $mob + vw;
        max-height: 192 * $mob + vw;
      }
    }
    .tab-img {
      width: 502 * $desk + vw;
      height: 357.5 * $desk + vw;
      display: inline-block;
      top: unset;
      // margin-left: 77.5 * $desk + vw;
      margin-right: 78 * $desk + vw;
      @media only screen and (max-width: 800px) {
        // position: relative;
        width: 235 * $mob + vw;
        height: 186 * $mob + vw;
        max-width: 235 * $mob + vw;
        max-height: 182 * $mob + vw;
        // top: -3 * $mob + vw;
      }
    }
    .img-adjust {
      height: 370 * $desk + vw;
      float: left;
      margin-right: 1vw;
      @media only screen and (max-width: 800px) {
        height: 186 * $mob + vw;
        width: 235 * $mob + vw;
      }
      .img-1 {
        height: 100%;
      }
    }
    .client-img {
      width: auto;
      max-width: 65.5vw;
      overflow: auto;
      @media only screen and (max-width: 800px) {
        max-width: unset;
        width: 305 * $mob + vw;
        height: 195 * $mob + vw;
        overflow: scroll;
        overflow-y: hidden;
      }

      .client-images {
        width: max-content;
        @media only screen and (max-width: 800px) {
          width: auto;
          display: flex;
          height: 50vw;
        }
      }
    }
  }
  .dragto {
    font-family: Raleway-Light;
    color: #808080;
    position: absolute;
    font-size: 23 * $desk + vw;
    left: 782 * $desk + vw;
    top: 860 * $desk + vw;
    @media only screen and (max-width: 800px) {
      position: absolute;
      left: unset;
      right: 54.1 * $mob + vw;
      top: 541 * $mob + vw;
      font-size: 10 * $mob + vw;
    }
  }
  .info-container {
    position: relative;
    display: table;
    width: 219 * $desk + vw;
    // min-height: 132 * $desk + vw;
    border-radius: 14 * $desk + vw;
    background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
    @media only screen and (max-width: 800px) {
      display: none;
    }
    // max-height: 349 * $desk + vw;
    ul {
      display: inline-block;
      font-family: Raleway-Light;
      font-size: 17 * $desk + vw;
      line-height: 20 * $desk + vw;
      margin-top: 25 * $desk + vw;
      max-width: 145 * $desk + vw;
      margin-left: 45 * $desk + vw;
      color: #ffffff;
      li {
        line-height: 20 * $desk + vw;
        margin-bottom: 25 * $desk + vw;
      }
    }
  }

  .case-study-container {
    // display: inline-flex;
    overflow-x: scroll;
    width: 100vw;
  }
  .client-cont {
    position: relative;
    margin-right: 78 * $desk + vw;
    margin-top: 289 * $desk + vw;
    margin-left: 495 * $desk + vw;
    @media only screen and (max-width: 800px) {
      margin-top: 280 * $mob + vw;
      margin-left: 34 * $mob + vw;
    }
    .title-container {
      display: block;
      height: 89 * $desk + vw;
      margin-bottom: 43 * $desk + vw;
      @media only screen and (max-width: 800px) {
        height: auto;
        display: flex;
      }
    }
  }

  .navigator {
    position: absolute;
    display: flex;
    right: 277 * $desk + vw;
    top: 855 * $desk + vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      left: 38 * $mob + vw;
      top: 98 * $mob + vw;
    }
    .home-btn {
      width: 36.6 * $desk + vw;
      height: 36.8 * $desk + vw;
      margin-left: 53.4 * $desk + vw;
      margin-right: 53.4 * $desk + vw;
      @media only screen and (max-width: 800px) {
        width: 26 * $mob + vw;
        height: 29 * $mob + vw;
        margin-left: 26 * $mob + vw;
        margin-right: 26 * $mob + vw;
      }
    }
    .nav-name {
      font-family: Raleway-Regular;
      line-height: 1.17;
      font-size: 23 * $desk + vw;
      padding-top: 10 * $desk + vw;
      cursor: pointer;
      color: #afaaaa;
      @media only screen and (max-width: 800px) {
        font-family: Raleway-Regular;
        line-height: 1.17;
        font-size: 15 * $mob + vw;
        padding-top: 10 * $mob + vw;
        color: #afaaaa;
      }
    }
  }
  .mob-info-container {
    display: none;
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      display: table;
      max-width: 307 * $mob + vw;
      width: 307 * $mob + vw;
      height: 125 * $mob + vw;
      top: 210 * $mob + vw;
      // min-height: 132 * $desk + vw;
      border-radius: 14 * $mob + vw;
      background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
    }
    // max-height: 349 * $desk + vw;
    ul {
      display: inline-block;
      font-family: Raleway-Light;
      font-size: 10 * $mob + vw;
      line-height: 20 * $mob + vw;
      margin-top: 15 * $mob + vw;
      // max-width: 145 * $mob + vw;
      max-height: 125 * $mob + vw;
      margin-left: 25.8 * $mob + vw;
      color: #ffffff;
      li {
        line-height: 20 * $mob + vw;
        margin-bottom: 24 * $mob + vw;
        float: left;
        width: 23vw;
      }
    }
  }
  .secondLinks {
    display: block;

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }
}

.client-img::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.client-img::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.client-img::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
