.technology-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .technology-container {
    width: 100vw;
    height: 94vh;
  }
}

.technology-container .para-text {
  color: white;
  font-family: Raleway-ExtraLight;
  letter-spacing: 1px;
  font-size: 1.04167vw;
  line-height: 1.45833vw;
}

@media only screen and (max-width: 800px) {
  .technology-container .para-text {
    font-size: 3.33333vw;
    line-height: 5.33333vw;
  }
}

.technology-container .project01-container {
  position: relative;
}

.technology-container .uiux-container {
  position: relative;
  left: 32.39583vw;
  top: 15.78125vw;
  width: 26.04167vw;
  height: 15.625vw;
}

.technology-container .uiux-container .uiux-text {
  position: absolute;
  font-family: Raleway-Light;
  font-size: 4.6875vw;
  color: #fff;
  left: 0vw;
  top: 0vw;
}

.technology-container .view-case {
  display: none;
  position: absolute;
  font-family: Raleway-Light;
  color: #afaaaa;
  top: 45.83333vw;
  font-size: 0.98958vw;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .technology-container .view-case {
    top: unset;
    bottom: -11.2vw;
    font-size: 2.4vw;
    text-align: center;
    width: 100%;
  }
}

.technology-container .navigator {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 19.79167vw;
  top: 43vw;
}

@media only screen and (max-width: 800px) {
  .technology-container .navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    left: 10.13333vw;
    top: 26.13333vw;
  }
}

@media only screen and (max-width: 800px) {
  .technology-container .navigator .home-btn {
    width: 6.93333vw;
    height: 7.73333vw;
    margin-left: 6.93333vw;
    margin-right: 6.93333vw;
  }
}

.technology-container .navigator .nav-name {
  display: none;
}

@media only screen and (max-width: 800px) {
  .technology-container .navigator .nav-name {
    font-family: Raleway-Regular;
    line-height: 1.17;
    font-size: 4vw;
    padding-top: 2.66667vw;
    color: #afaaaa;
  }
}

@media only screen and (max-width: 800px) {
  .technology-container .secondLinks {
    top: 50.4vw;
  }
}
/*# sourceMappingURL=project01.css.map */