$desk: 100 / 1920;
$mob: 100 / 375;
.technology-container {
  position: relative;
  // width: 700 * $desk + vw;
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: 800px) {
    width: 100vw;
    height: 94vh;
  }

  .para-text {
    color: white;
    font-family: Raleway-ExtraLight;
    letter-spacing: 1px;
    font-size: 20 * $desk + vw;
    line-height: 28 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-size: 12.5 * $mob + vw;
      line-height: 20 * $mob + vw;
    }
  }
  //   left: 622 * $desk + vw;
  //   top: 303 * $desk + vw;
  .project01-container {
    position: relative;
  }
  .uiux-container {
    position: relative;
    left: 622 * $desk + vw;
    top: 303 * $desk + vw;
    width: 500 * $desk + vw;
    height: 300 * $desk + vw;
    // background-color: red;
    .uiux-text {
      position: absolute;
      font-family: Raleway-Light;
      font-size: 90 * $desk + vw;
      color: #fff;
      left: 0 * $desk + vw;
      top: 0 * $desk + vw;
    }
  }
  .view-case {
    display: none;
    position: absolute;
    font-family: Raleway-Light;
    color: #afaaaa;
    top: 880 * $desk + vw;
    font-size: 19 * $desk + vw;
    text-align: center;
    width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
    @media only screen and (max-width: 800px) {
      // display: block;
      top: unset;
      bottom: -42 * $mob + vw;
      font-size: 9 * $mob + vw;
      text-align: center;
      width: 100%;
    }
  }
  .navigator {
    position: absolute;
    display: flex;
    right: 380 * $desk + vw;
    // display: none;
    top: 43vw;
    @media only screen and (max-width: 800px) {
      display: flex;
      position: absolute;
      right: 0;
      left: 38 * $mob + vw;
      top: 98 * $mob + vw;
    }
    .home-btn {
      @media only screen and (max-width: 800px) {
        width: 26 * $mob + vw;
        height: 29 * $mob + vw;
        margin-left: 26 * $mob + vw;
        margin-right: 26 * $mob + vw;
      }
    }
    .nav-name {
      display: none;
      @media only screen and (max-width: 800px) {
        font-family: Raleway-Regular;
        line-height: 1.17;
        font-size: 15 * $mob + vw;
        padding-top: 10 * $mob + vw;
        color: #afaaaa;
      }
    }
  }
  .secondLinks {
    @media only screen and (max-width: 800px) {
      top: 189 * $mob + vw;
    }
  }
}
