$desk: 100 / 1920;
.project-container {
  @media only screen and (max-width: 800px) {
    width: 100vw;
    height: 94vh;
  }
  .customCss1 {
    position: absolute;
    display: none;
    z-index: 5;
  }
  .customCss2 {
    position: absolute;
    display: none;
    z-index: 3;
  }
}
