@media only screen and (max-width: 800px) {
  .project-container {
    width: 100vw;
    height: 94vh;
  }
}

.project-container .customCss1 {
  position: absolute;
  display: none;
  z-index: 5;
}

.project-container .customCss2 {
  position: absolute;
  display: none;
  z-index: 3;
}
/*# sourceMappingURL=project.css.map */