.project02-container .client-logo {
  display: inline-block;
  height: 4.65625vw;
  width: auto;
}

@media only screen and (max-width: 800px) {
  .project02-container .client-logo {
    height: 8vw;
  }
}

.project02-container .client-name {
  display: inline-block;
  color: white;
  font-family: Raleway-ExtraLight;
  font-size: 4.16667vw;
  line-height: 5.52083vw;
  margin-left: 2.60417vw;
  top: 50%;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

@media only screen and (max-width: 800px) {
  .project02-container .client-name {
    font-size: 7.46667vw;
    -webkit-transform: translateY(13%);
            transform: translateY(13%);
    margin-bottom: 2vw;
  }
}

.project02-container .detail-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  height: 22vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container {
    height: 32vh;
  }
}

.project02-container .detail-container .desk-img {
  max-width: 38.46354vw;
  max-height: 18.61979vw;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .desk-img {
    display: contents;
    max-width: 87.46667vw;
    max-height: 49.6vw;
  }
}

.project02-container .detail-container .mob-img {
  max-width: 17.8125vw;
  max-height: 18.61979vw;
  display: inline-block;
  margin-left: 4.03646vw;
  margin-right: 4.0625vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .mob-img {
    max-width: 29.33333vw;
    max-height: 51.2vw;
  }
}

.project02-container .detail-container .tab-img {
  width: 26.14583vw;
  height: 18.61979vw;
  display: inline-block;
  top: unset;
  margin-right: 4.0625vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .tab-img {
    width: 62.66667vw;
    height: 49.6vw;
    max-width: 62.66667vw;
    max-height: 48.53333vw;
  }
}

.project02-container .detail-container .img-adjust {
  height: 19.27083vw;
  float: left;
  margin-right: 1vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .img-adjust {
    height: 49.6vw;
    width: 62.66667vw;
  }
}

.project02-container .detail-container .img-adjust .img-1 {
  height: 100%;
}

.project02-container .detail-container .client-img {
  width: auto;
  max-width: 65.5vw;
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .client-img {
    max-width: unset;
    width: 81.33333vw;
    height: 52vw;
    overflow: scroll;
    overflow-y: hidden;
  }
}

.project02-container .detail-container .client-img .client-images {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 800px) {
  .project02-container .detail-container .client-img .client-images {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vw;
  }
}

.project02-container .dragto {
  font-family: Raleway-Light;
  color: #808080;
  position: absolute;
  font-size: 1.19792vw;
  left: 40.72917vw;
  top: 44.79167vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .dragto {
    position: absolute;
    left: unset;
    right: 14.42667vw;
    top: 144.26667vw;
    font-size: 2.66667vw;
  }
}

.project02-container .info-container {
  position: relative;
  display: table;
  width: 11.40625vw;
  border-radius: 0.72917vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212020), color-stop(59%, #403f3f), to(#575757));
  background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
}

@media only screen and (max-width: 800px) {
  .project02-container .info-container {
    display: none;
  }
}

.project02-container .info-container ul {
  display: inline-block;
  font-family: Raleway-Light;
  font-size: 0.88542vw;
  line-height: 1.04167vw;
  margin-top: 1.30208vw;
  max-width: 7.55208vw;
  margin-left: 2.34375vw;
  color: #ffffff;
}

.project02-container .info-container ul li {
  line-height: 1.04167vw;
  margin-bottom: 1.30208vw;
}

.project02-container .case-study-container {
  overflow-x: scroll;
  width: 100vw;
}

.project02-container .client-cont {
  position: relative;
  margin-right: 4.0625vw;
  margin-top: 15.05208vw;
  margin-left: 25.78125vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .client-cont {
    margin-top: 74.66667vw;
    margin-left: 9.06667vw;
  }
}

.project02-container .client-cont .title-container {
  display: block;
  height: 4.63542vw;
  margin-bottom: 2.23958vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .client-cont .title-container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.project02-container .navigator {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 14.42708vw;
  top: 44.53125vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .navigator {
    right: 0;
    left: 10.13333vw;
    top: 26.13333vw;
  }
}

.project02-container .navigator .home-btn {
  width: 1.90625vw;
  height: 1.91667vw;
  margin-left: 2.78125vw;
  margin-right: 2.78125vw;
}

@media only screen and (max-width: 800px) {
  .project02-container .navigator .home-btn {
    width: 6.93333vw;
    height: 7.73333vw;
    margin-left: 6.93333vw;
    margin-right: 6.93333vw;
  }
}

.project02-container .navigator .nav-name {
  font-family: Raleway-Regular;
  line-height: 1.17;
  font-size: 1.19792vw;
  padding-top: 0.52083vw;
  cursor: pointer;
  color: #afaaaa;
}

@media only screen and (max-width: 800px) {
  .project02-container .navigator .nav-name {
    font-family: Raleway-Regular;
    line-height: 1.17;
    font-size: 4vw;
    padding-top: 2.66667vw;
    color: #afaaaa;
  }
}

.project02-container .mob-info-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .project02-container .mob-info-container {
    display: block;
    position: absolute;
    display: table;
    max-width: 81.86667vw;
    width: 81.86667vw;
    height: 33.33333vw;
    top: 56vw;
    border-radius: 3.73333vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#212020), color-stop(59%, #403f3f), to(#575757));
    background-image: linear-gradient(to bottom, #212020, #403f3f 59%, #575757);
  }
}

.project02-container .mob-info-container ul {
  display: inline-block;
  font-family: Raleway-Light;
  font-size: 2.66667vw;
  line-height: 5.33333vw;
  margin-top: 4vw;
  max-height: 33.33333vw;
  margin-left: 6.88vw;
  color: #ffffff;
}

.project02-container .mob-info-container ul li {
  line-height: 5.33333vw;
  margin-bottom: 6.4vw;
  float: left;
  width: 23vw;
}

.project02-container .secondLinks {
  display: block;
}

@media only screen and (max-width: 800px) {
  .project02-container .secondLinks {
    display: none;
  }
}

.client-img::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
  border-radius: 2px;
}

.client-img::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.client-img::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 2px;
}
/*# sourceMappingURL=project02.css.map */