$desk: 100 / 1920;
$mob: 100 / 375;
.resource01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .secondLinks {
    @media only screen and (max-width: 800px) {
      top: 169.5 * $mob + vw;
      left: 0;
    }
  }
  .panelContainer {
    @media only screen and (max-width: 800px) {
      top: 180 * $mob + vw;
      left: -4 * $mob + vw;
    }
    .grey {
      @media only screen and (max-width: 800px) {
        // top: 230 * $mob + vw;
      }
    }
    .dragContainer {
      @media only screen and (max-width: 800px) {
        width: 150vw;
      }
      .resource01 {
        @media only screen and (max-width: 800px) {
          margin-right: 34 * $mob + vw;
          margin-bottom: 14 * $mob + vw;
        }
      }
      .icons {
        @media only screen and (max-width: 800px) {
          width: 136.9 * $mob + vw;
          height: 144.9 * $mob + vw;
        }
      }
      .name {
        @media only screen and (max-width: 800px) {
          font-size: 13 * $mob + vw;
          text-align: center;
          width: 36vw;
          line-height: 20 * $mob + vw;
        }
      }
      .position {
        @media only screen and (max-width: 800px) {
          font-size: 9 * $mob + vw;
        }
      }
    }
  }
}
.h1textCustom {
  font-size: 30 * $desk + vw;
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.team-cont {
  width: 60.2vw;
  overflow: auto;
  margin-left: unset;
  height: 19vw;
  @media only screen and (max-width: 800px) {
    width: 85vw;
    margin-left: 34 * $mob + vw;
    height: auto;
  }

  .team-cont2 {
    width: 98vw;
    overflow: auto;
    float: none;
    @media only screen and (max-width: 800px) {
      width: 183vw;
      float: left;
    }
  }
}

.team-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
}

.team-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.team-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}
