.resource01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .resource01-container {
    height: 92.5vh;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .secondLinks {
    top: 45.2vw;
    left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer {
    top: 48vw;
    left: -1.06667vw;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer .dragContainer {
    width: 150vw;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer .dragContainer .resource01 {
    margin-right: 9.06667vw;
    margin-bottom: 3.73333vw;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer .dragContainer .icons {
    width: 36.50667vw;
    height: 38.64vw;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer .dragContainer .name {
    font-size: 3.46667vw;
    text-align: center;
    width: 36vw;
    line-height: 5.33333vw;
  }
}

@media only screen and (max-width: 800px) {
  .resource01-container .panelContainer .dragContainer .position {
    font-size: 2.4vw;
  }
}

.h1textCustom {
  font-size: 1.5625vw;
}

@media only screen and (max-width: 800px) {
  .h1textCustom {
    display: none;
  }
}

.team-cont {
  width: 60.2vw;
  overflow: auto;
  margin-left: unset;
  height: 19vw;
}

@media only screen and (max-width: 800px) {
  .team-cont {
    width: 85vw;
    margin-left: 9.06667vw;
    height: auto;
  }
}

.team-cont .team-cont2 {
  width: 98vw;
  overflow: auto;
  float: none;
}

@media only screen and (max-width: 800px) {
  .team-cont .team-cont2 {
    width: 183vw;
    float: left;
  }
}

.team-cont::-webkit-scrollbar {
  height: 0.26042vw;
  width: 5px;
  background: none;
  margin: auto;
}

.team-cont::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: none;
}

.team-cont::-webkit-scrollbar-thumb {
  background-color: #d67a0f;
  outline: 0.05208vw solid #d67a0f;
  height: 0.26042vw;
  width: 0.26042vw;
  border-radius: 0.26042vw;
}
/*# sourceMappingURL=resource01.css.map */