.secondLinks {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3.95833vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .secondLinks {
    top: 64.53333vw;
    left: 0;
    z-index: 9999;
  }
}

.secondLinks .lineContainer {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.secondLinks .lineContainer .line-custom {
  background-color: transparent;
  width: 0vw;
  -webkit-transition: 1s;
  transition: 1s;
  height: 1.04167vw;
  cursor: pointer;
  border-bottom: 0.07812vw solid #707070;
}

@media only screen and (max-width: 800px) {
  .secondLinks .lineContainer .line-custom {
    width: 8.53333vw;
    height: 0.4vw;
    padding-bottom: 5.33333vw;
  }
}

.secondLinks .lineContainer .line-custom:hover {
  width: 3.95833vw;
  border-bottom: 0.07812vw solid #d67a0f;
}

.secondLinks .active-line {
  width: 5.46875vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .secondLinks .active-line {
    width: 25.33333vw;
    padding-top: 5.33333vw;
  }
}

.secondLinks .active-line .line-custom {
  background-color: transparent;
  width: 0vw;
  margin-right: 1.04167vw;
  -webkit-transition: 1s;
  transition: 1s;
  height: 1.04167vw;
  border-bottom: 0.07812vw solid #d67a0f;
}

@media only screen and (max-width: 800px) {
  .secondLinks .active-line .line-custom {
    width: 18vw;
    height: 0.53333vw;
  }
}

.secondLinks .active-line .section-number {
  float: right;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9375vw;
  font-family: Montserrat-Light;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .secondLinks .active-line .section-number {
    font-size: 4.8vw;
  }
}
/*# sourceMappingURL=Secondlinks.css.map */