$desk: 100 / 1920;
$mob: 100 / 375;
$transition-duration: 1s;
//  top: 68 * * $desk + vw;
.secondLinks {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 76 * $desk + vw;
  transition: $transition-duration;

  @media only screen and (max-width: 800px) {
    top: 242 * $mob + vw;
    left: 0;
    z-index: 9999;
  }
  .lineContainer {
    position: relative;
    //margin-bottom: 20 * $desk + vw;
    transition: $transition-duration;

    .line-custom {
      background-color: transparent;
      width: 0 * $desk + vw;
      transition: $transition-duration;
      height: 20 * $desk + vw;
      // background: green;
      cursor: pointer;
      border-bottom: 1.5 * $desk + vw solid #707070;

      @media only screen and (max-width: 800px) {
        width: 32 * $mob + vw;
        height: 1.5 * $mob + vw;
        padding-bottom: 20 * $mob + vw;
      }
    }
    .line-custom:hover {
      width: 76 * $desk + vw;
      border-bottom: 1.5 * $desk + vw solid #d67a0f;
    }
  }
  .active-line {
    width: 105 * $desk + vw;
    //margin-bottom: 20 * $desk + vw;
    transition: $transition-duration;

    @media only screen and (max-width: 800px) {
      width: 95 * $mob + vw;
      padding-top: 20 * $mob + vw;
    }
    .line-custom {
      background-color: transparent;
      width: 0 * $desk + vw;
      margin-right: 20 * $desk + vw;
      transition: $transition-duration;
      height: 20 * $desk + vw;
      //background: green;
      border-bottom: 1.5 * $desk + vw solid #d67a0f;
      @media only screen and (max-width: 800px) {
        width: 67.5 * $mob + vw;
        height: 2 * $mob + vw;
        //margin-bottom: 20 * $mob + vw;
      }
    }
    .section-number {
      float: right;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18 * $desk + vw;
      font-family: Montserrat-Light;
      transition: $transition-duration;
      opacity: 0;
      //font styling missing-done
      @media only screen and (max-width: 800px) {
        font-size: 18 * $mob + vw;
        //float: left;
        //margin-left: 80 * $mob + vw;
      }
    }
  }
}
