@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
}

@media only screen and (min-width: 800px) {
  .sidenav-container {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .sidenav-container {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.91;
    background-color: #4a4848;
    z-index: 100;
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .sidenav-container .close-text {
    position: absolute;
    right: 1.6vw;
    top: 4.53333vw;
    font-family: Montserrat;
    font-size: 4.53333vw;
    color: #d67a0f;
  }
}

@media only screen and (max-width: 800px) {
  .sidenav-container .Navlinks-container {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 11.36vw;
  }
}

@media only screen and (max-width: 800px) {
  .sidenav-container .nav-link {
    font-size: 8.8vw;
    margin-bottom: 5.33333vw;
  }
}
/*# sourceMappingURL=sidenav.css.map */