$desk: 100 / 1920;
$mob: 100 / 375;
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
}
.sidenav-container {
  @media only screen and (min-width: 800px) {
    display: none;
  }
  @media only screen and (max-width: 800px) {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.91;
    background-color: #4a4848;
    z-index: 100;
    display: none;
  }
  .close-text {
    @media only screen and (max-width: 800px) {
      position: absolute;
      right: 6 * $mob + vw;
      top: 17 * $mob + vw;
      font-family: Montserrat;
      font-size: 17 * $mob + vw;
      color: #d67a0f;
    }
  }
  .Navlinks-container {
    @media only screen and (max-width: 800px) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 42.6 * $mob + vw;
    }
  }
  .nav-link {
    @media only screen and (max-width: 800px) {
      font-size: 33 * $mob + vw;
      margin-bottom: 20 * $mob + vw;
    }
  }
}
