$desk: 100 / 1920;
$mob: 100 / 375;

.softwareicon-container {
  position: absolute;
  width: 450 * $desk + vw;
  //   background-color: white;
  //   float: left;
  top: 71 * $desk + vw;
  right: 0;
  left: unset;
  @media only screen and (max-width: 800px) {
    top: 285 * $mob + vw;
    left: -52 * $mob + vw;
  }
  .tech-text {
    font-size: 36 * $desk + vw;
    font-weight: lighter;
    margin-left: 30 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-family: Raleway-Regular;
      font-size: 19 * $mob + vw;
    }
  }
}
