.softwareicon-container {
  position: absolute;
  width: 23.4375vw;
  top: 3.69792vw;
  right: 0;
  left: unset;
}

@media only screen and (max-width: 800px) {
  .softwareicon-container {
    top: 76vw;
    left: -13.86667vw;
  }
}

.softwareicon-container .tech-text {
  font-size: 1.875vw;
  font-weight: lighter;
  margin-left: 1.5625vw;
}

@media only screen and (max-width: 800px) {
  .softwareicon-container .tech-text {
    font-family: Raleway-Regular;
    font-size: 5.06667vw;
  }
}
/*# sourceMappingURL=softwareicon.css.map */