.whyus01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 800px) {
  .whyus01-container {
    height: 92.5vh;
  }
}

.whyus01-container .customPosition01 {
  margin-bottom: 2.60417vw;
}

@media only screen and (max-width: 800px) {
  .whyus01-container .customPosition01 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    margin: auto;
    left: 0;
    right: 0;
    top: -10.66667vw;
  }
}

.whyus01-container p {
  color: white;
}

@media only screen and (max-width: 800px) {
  .whyus01-container p {
    position: relative;
    top: 5.33333vw;
    left: 4vw;
    margin-bottom: 4vw;
    width: 88vw;
  }
}

.whyus01-container .customPosition02 {
  position: absolute;
  left: 11vw;
  bottom: 0vw;
}

@media only screen and (max-width: 800px) {
  .whyus01-container .customPosition02 {
    bottom: -33.6vw;
    left: 4vw;
  }
}
/*# sourceMappingURL=whyus01.css.map */