.whyus-container .customCss1 {
  position: absolute;
  display: none;
  z-index: 5;
}

.whyus-container .customCss2 {
  position: absolute;
  display: none;
  z-index: 3;
}
/*# sourceMappingURL=whyus.css.map */