.whyus02-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .whyus02-container {
    height: 92.5vh;
  }
}

@media only screen and (max-width: 800px) {
  .whyus02-container .secondLinks {
    top: 48.66667vw;
  }
}

.whyus02-container .process-container {
  position: absolute;
  top: 14.79167vw;
  left: 32.13542vw;
  width: 55vw;
  height: 67%;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-container {
    height: 100%;
    width: 98%;
    top: 28.8vw;
    left: 1.86667vw;
    overflow: hidden;
  }
}

.whyus02-container .h1-adjust {
  padding-top: 0vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .h1-adjust {
    width: auto;
    height: auto;
    padding-top: 1.2vw;
  }
}

.whyus02-container .customH1 {
  font-family: Montserrat-Medium;
  font-size: 1.45833vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .customH1 {
    font-size: 4.53333vw;
    margin-bottom: 2.13333vw;
  }
}

.whyus02-container .customP {
  font-family: Raleway-Light;
  font-size: 0.88542vw;
  line-height: 1.04167vw;
  color: #fcfcfc;
  width: 22.91667vw;
  margin-top: unset;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .customP {
    font-size: 3.2vw;
    line-height: 4.26667vw;
    width: 79.33333vw;
    color: #fcfcfc;
  }
}

.whyus02-container .timeLine {
  position: absolute;
  width: 0.05208vw;
  height: 100%;
  left: 59.16667vw;
  background-color: #707070;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .timeLine {
    top: 102.93333vw;
    left: -1.86667vw;
    width: 100%;
    height: 0.26667vw;
  }
}

.whyus02-container .numberContainer {
  width: 3.125vw;
  height: 3.125vw;
  border: 1px solid #d67a0f;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-family: Raleway-Light;
  font-size: 2.60417vw;
  line-height: 2.5vw;
  background-color: #3c3c3c;
  margin-top: 2.60417vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .numberContainer {
    width: 9.09333vw;
    height: 9.09333vw;
    border: 0.26667vw solid #d67a0f;
    font-size: 6.93333vw;
    line-height: 8vw;
    margin-top: 0;
  }
}

.whyus02-container .process-section {
  width: 103%;
  overflow: auto;
  position: relative;
  height: 83%;
  top: unset;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-section {
    width: 100%;
    overflow: auto;
    position: relative;
    height: 100%;
    top: -8vw;
  }
}

.whyus02-container .number-adjust1 {
  position: absolute;
  right: -6vw;
  left: unset;
  top: 2.08333vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .number-adjust1 {
    right: 0;
    left: 0;
    top: 40vw;
  }
}

.whyus02-container .number-adjust2 {
  position: absolute;
  right: 26vw;
  top: 1.61458vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .number-adjust2 {
    right: 0;
    top: -13.86667vw;
    left: 1.86667vw;
  }
}

.whyus02-container .number-adjust3 {
  position: absolute;
  right: -6vw;
  top: 1vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .number-adjust3 {
    right: 0;
    left: 0;
    top: 46.66667vw;
  }
}

.whyus02-container .number-adjust4 {
  position: absolute;
  right: 26vw;
  top: 2vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .number-adjust4 {
    right: 0;
    top: -13.86667vw;
    left: 1.86667vw;
  }
}

.whyus02-container .process-1 {
  position: absolute;
  top: unset;
  left: unset;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-1 {
    top: 30.66667vw;
    left: 17.33333vw;
  }
}

.whyus02-container .process-3 {
  position: absolute;
  top: 19vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-3 {
    top: 25.06667vw;
    left: 118.66667vw;
  }
}

.whyus02-container .process-2 {
  position: absolute;
  left: 32vw;
  top: 9vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-2 {
    right: 0;
    left: 59.73333vw;
    top: 85.5vw;
  }
}

.whyus02-container .process-4 {
  position: absolute;
  left: 32vw;
  top: 27vw;
}

@media only screen and (max-width: 800px) {
  .whyus02-container .process-4 {
    right: 0;
    left: 172vw;
    top: 85.5vw;
    width: 80vw;
    padding-right: 5vw;
  }
}
/*# sourceMappingURL=whyus02.css.map */