$desk: 100 / 1920;
$mob: 100 / 375;
$transition-duration: 1s;
$transition-delay: 1s;
.whyus01-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: $transition-duration;
  //transition-delay: $transition-delay;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .customPosition01 {
    margin-bottom: 50 * $desk + vw;
    @media only screen and (max-width: 800px) {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 30 * $mob + vw;
      margin: auto;
      left: 0;
      right: 0;
      top: -40 * $mob + vw;
    }
  }
  p {
    color: white;
    @media only screen and (max-width: 800px) {
      position: relative;
      top: 20 * $mob + vw;
      left: 15 * $mob + vw;
      margin-bottom: 15 * $mob + vw;
      width: 330 * $mob + vw;
    }
  }
  .customPosition02 {
    position: absolute;
    left: 11vw;
    bottom: 0vw;
    @media only screen and (max-width: 800px) {
      bottom: -126 * $mob + vw;
      left: 15 * $mob + vw;
    }
  }
}
