$desk: 100 / 1920;
$mob: 100 / 375;
.whyus02-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 92.5vh;
  }
  .secondLinks {
    @media only screen and (max-width: 800px) {
      top: 182.5 * $mob + vw;
    }
  }
  .process-container {
    position: absolute;
    top: 284 * $desk + vw;
    left: 617 * $desk + vw;
    width: 55vw;
    height: 67%;
    @media only screen and (max-width: 800px) {
      height: 100%;
      width: 98%;
      top: 108 * $mob + vw;
      left: 7 * $mob + vw;
      overflow: hidden;
    }
  }
  .h1-adjust {
    padding-top: 0vw;
    @media only screen and (max-width: 800px) {
      width: auto;
      height: auto;
      padding-top: 1.2vw;
    }
  }
  .customH1 {
    font-family: Montserrat-Medium;
    font-size: 28 * $desk + vw;
    // margin-bottom: 22 * $desk + vw;
    // margin-top: 40 * $desk + vw;
    @media only screen and (max-width: 800px) {
      font-size: 17 * $mob + vw;
      margin-bottom: 8 * $mob + vw;
    }
  }
  .customP {
    font-family: Raleway-Light;
    // font-family: HelveticaNeue-Thin;
    font-size: 17 * $desk + vw;
    line-height: 20 * $desk + vw;
    color: #fcfcfc;
    width: 440 * $desk + vw;
    margin-top: unset; // color: red;
    @media only screen and (max-width: 800px) {
      font-size: 12 * $mob + vw;
      line-height: 16 * $mob + vw;
      width: 297.5 * $mob + vw;
      color: #fcfcfc;
    }
  }
  .timeLine {
    position: absolute;
    width: 1 * $desk + vw;
    height: 100%;
    left: 1136 * $desk + vw;
    background-color: #707070;
    @media only screen and (max-width: 800px) {
      top: 386 * $mob + vw;
      left: -7 * $mob + vw;
      width: 100%;
      height: 1 * $mob + vw;
    }
  }
  .numberContainer {
    width: 60 * $desk + vw;
    height: 60 * $desk + vw;
    border: 1px solid #d67a0f;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-family: Raleway-Light;
    font-size: 50 * $desk + vw;
    line-height: 48 * $desk + vw;
    background-color: #3c3c3c;
    margin-top: 50 * $desk + vw;
    cursor: pointer;

    @media only screen and (max-width: 800px) {
      width: 34.1 * $mob + vw;
      height: 34.1 * $mob + vw;
      border: 1 * $mob + vw solid #d67a0f;
      font-size: 26 * $mob + vw;
      line-height: 30 * $mob + vw;
      margin-top: 0;
    }
  }
  .process-section {
    width: 103%;
    overflow: auto;
    position: relative;
    height: 83%;
    top: unset;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
      width: 100%;
      overflow: auto;
      position: relative;
      height: 100%;
      top: -8vw;
    }
  }
  .number-adjust1 {
    position: absolute;
    right: -6vw;
    left: unset;

    top: 40 * $desk + vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      left: 0;
      top: 150 * $mob + vw;
    }
  }
  .number-adjust2 {
    position: absolute;
    right: 26vw;
    top: 1.61458vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      top: -52 * $mob + vw;
      left: 7 * $mob + vw;
    }
  }
  // .number-adjust3 {
  //   position: absolute;
  //   right: -8vw;
  //   top: 0 * $desk + vw;
  // }
  .number-adjust3 {
    position: absolute;
    right: -6vw;
    top: 1vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      left: 0;
      top: 175 * $mob + vw;
    }
  }
  .number-adjust4 {
    position: absolute;
    right: 26vw;
    top: 2vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      top: -52 * $mob + vw;
      left: 7 * $mob + vw;
    }
  }
  .process-1 {
    position: absolute;
    top: unset;
    left: unset;
    @media only screen and (max-width: 800px) {
      top: 115 * $mob + vw;
      left: 65 * $mob + vw;
    }
  }
  .process-3 {
    position: absolute;
    top: 19vw;
    @media only screen and (max-width: 800px) {
      top: 94 * $mob + vw;
      left: 445 * $mob + vw;
    }
  }
  .process-2 {
    position: absolute;
    left: 32vw;
    top: 9vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      left: 224 * $mob + vw;
      top: 85.5vw;
    }
  }
  .process-4 {
    position: absolute;
    left: 32vw;
    top: 27vw;
    @media only screen and (max-width: 800px) {
      right: 0;
      left: 645 * $mob + vw;
      top: 85.5vw;
      width: 80vw;
      padding-right: 5vw;
    }
  }
  // .process-title {
  // }
}
